<template>
    <view class="number u-flex u-flex-items-center">
        <iconfont name="icon-jianshao" color="#e2e2e2" class="icon" :font="font" @click="minus">
        </iconfont>
        <text class="num">{{ num }}</text>
        <iconfont name="icon-zengjia" :color="PrimaryColor" class="icon" :font="font" @click="plus">
        </iconfont>
    </view>
</template>

<script setup lang="ts">
import { ref, watch , computed } from "vue"
import { useAppStore } from "@/store/app";
const appStore = useAppStore();
const PrimaryColor = computed(() => appStore.PrimaryColor);

const emit = defineEmits(["minus", "plus"])

const props = defineProps({
    num: {
        type: Number,
        default: 1
    },
    minNum: {
        type: Number,
        default: 1
    },
    maxNum: {
        type: Number,
        default: 99
    }
})

const font = ref("30px")
const num = ref<number>(props.num)

watch(
    () => props.num,
    (newval) => {
        num.value = newval
    },
    { immediate: true, deep: true }
)

const minus = () => {
    if ((num.value-=1) <= props.minNum) {
        num.value = 1
    }
    emit("minus", num.value)
}
const plus = () => {
    if ((num.value+=1) >= props.maxNum) {
        num.value = 99
    }
    emit("plus", num.value)
}
</script>

<style scoped>
.num {

    margin: 0 14rpx
}
</style>
