<template>
    <view class="buy-cart-container">
        <view class="content">
            <!-- u-flex-items-center -->
            <view class="money-num u-flex u-flex-between">
                <view class="money-spec">
                    <view class="money u-flex">
                        <view class="new">
                            <m-price :price="`${price}`"></m-price>
                        </view>
                        <view class="old">
                            <m-price :price="`${oldPrice}`"></m-price>
                        </view>
                    </view>
                    <view class="spec">{{ specsStr }}</view>
                </view>

                <view>
                    <m-number-box :num="num" @minus="minus" @plus="plus"></m-number-box>
                </view>
            </view>

            <view class="btn-bottom u-flex u-flex-between">
                <view class="buy item radius_4" :style="{ 'border': `2rpx solid ${PrimaryColor}`, 'color': PrimaryColor }">
                    立即购买
                </view>
                <view class="cart item radius_4"
                    :style="{ 'background': PrimaryColor, 'color': '#fff', 'border': `2rpx solid ${PrimaryColor}` }">加入购物车
                </view>
            </view>
        </view>

    </view>
</template>

<script setup lang="ts">
import { ref, watch,computed } from 'vue'
import MPrice from "@/components/Price/index.vue"
import MNumberBox from "@/components/MumberBox/index.vue"
import { useAppStore } from "@/store/app";
const PrimaryColor = computed(() => useAppStore().PrimaryColor);


const props = defineProps({
    price: {
        type: String,
        default: '0.00'
    },
    oldPrice: {
        type: String,
        default: '0.00'
    },
    specslist: {
        type: Array,
        default: () => []
    }
})
const price = ref(props.price)
const oldPrice = ref(props.oldPrice)
const specsStr = ref("")
let num = ref<number>(1)

watch(
    () => props.price,
    (newval) => {
        price.value = newval
    }, {
    immediate: true
}
)

watch(
    () => props.oldPrice,
    (newval) => {
        oldPrice.value = newval
    }, {
    immediate: true
}
)

watch(
    () => props.specslist,
    (newval) => {
        let str = ''
        newval.forEach(item => {
            str += item.specs + ' | '
        })

        specsStr.value = str.slice(0, -2)
    }, {
    immediate: true
}
)

const minus = (e: number) => {
    console.log(e)
    if (e <= 1) {
        num.value = 1
    } else {
        num.value = e
    }

}
const plus = (e: number) => {
    console.log(e)
    if (e >= 99) {
        num.value = 99
    } else {
        num.value = e
    }

}

</script>

<style scoped lang="scss">
.buy-cart-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    box-shadow: 0 2rpx 25rpx 10rpx rgb(236, 236, 236);
    background-color: #ffffff;
    height: 200rpx;
    z-index: 999;
}

.content {
    padding: 20rpx 30rpx;
}

.money-num {
    .money-spec {
        .money {
            .new {
                font-size: 32rpx !important;
                color: #000000;
                font-weight: 600;
            }

            .old {
                text-decoration: line-through;
                color: #999;
                font-size: 24rpx !important;
                margin-left: 14rpx;
                margin-right: 10rpx;
            }
        }

        .spec {
            font-size: 24rpx;
            padding: 14rpx 0;
        }
    }
}

.btn-bottom {

    .item {
        width: 48%;
        height: 76rpx;
        line-height: 76rpx;
        text-align: center;
    }
}
</style>
