.single-spec {
    margin: 40rpx 0;
}
.spec-list {
    .spec-item {
        .htmlName {
            font-size: 28rpx;
            font-weight: 600;
        }
        .mer-spec-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            font-size: 26rpx;
            margin-top: 14rpx;
            .mer-spec-list_item {
                min-width: calc(calc(100% / 4) - 16rpx);
                height: 60rpx;
                line-height: 60rpx;
                // background: #f5f5f5;
                text-align: center;
                margin: 0  14rpx 14rpx 0;
                // border-radius: 18rpx;
                border: 2rpx solid transparent;
                &:nth-of-type(4n) {
                    margin-right: 0;
                }
                // .specs {
                //     background: #f5f5f5;
                // }
                // &.active{
                //     background: pink;
                // }
            }
        }
    }
}
