<template>
    <view class="single-spec">
        <view class="spec-list">
            <!-- {{ specsSelect }} -->
            <view class="spec-item" v-for="(item, index) in list" :key="index">
                <view class="htmlName">{{ item.htmlName }}</view>
                <view class="mer-spec-list">
                    <view class="mer-spec-list_item radius_4" v-for="(v, i) in item.merSpecsInfos" :key="i"
                        @click="selectSpec(v, i, item, index)" :style="{
                            'backgroundColor': v.isDefault == '20' ? `${PrimaryColor}10` : '#e2e2e270', 'border':
                                v.isDefault == '20' ? `2rpx solid ${PrimaryColor}` : '2rpx solid transparent', 'color': v.isDefault ==
                                    '20' ? PrimaryColor : '#333'
                        }">
                        <view class="specs ellipsis_1">{{ v.specs }}</view>
                    </view>
                </view>
            </view>
        </view>

        <buy-cart :specslist="specsSelect" :price="props.price" :oldPrice="props.oldPrice"></buy-cart>
    </view>
</template>

<script setup lang="ts">
import { computed, ref, watch } from 'vue'
import BuyCart from "./buy-cart.vue"

import { useAppStore } from "@/store/app";
const PrimaryColor = computed(() => useAppStore().PrimaryColor);

const props = defineProps({
    list: {
        type: Array,
        default: () => []
    },
    price: {
        type: String,
        default: '0.00'
    },
    oldPrice: {
        type: String,
        default: '0.00'
    },
})
const list = ref<any[]>(props.list)


watch(() => props.list,
    (newVal) => {
        list.value = newVal
    }, { deep: true, immediate: true })

const specsSelect = computed(() => {
    let specslist: any[] = []
    list.value.forEach((v: any) => {
        let merSpecsInfos = v.merSpecsInfos
        specslist.push(merSpecsInfos.filter((v: any) => v.isDefault == '20')[0])
    })
    return specslist
})



const selectSpec = (v: any, i: number, item: any, index: number) => {
    let merSpecsInfos = list.value[index].merSpecsInfos
    merSpecsInfos.forEach((v: any) => {
        v.isDefault = '10'
    })
    v.isDefault = '20'
}
</script>

<style lang="scss" scoped>
@import "./index.scss";

page {
    background: #fff;
}
</style>
