<template>
	<view class="price">
		<view class="unit">¥</view>
		<view class="price">{{ integer }}</view>
		<view class="Point">{{ decimal }}</view>
	</view>
</template>

<script>
import _ from 'lodash'
export default {
	data() {
		return {
		}
	},
	props: {
		price: {
			type: String,
			default() {
				return '0.00'
			}
		}
	},
	computed: {
		integer: function () {
			var price = 0
			if (String(this.price).includes('.')) {
				price = _.split(this.price, '.', 2)[0];
			} else {
				price = this.price
			}
			return price
		},
		decimal: function () {
			var price = 0
			if (String(this.price).includes('.')) {
				price = '.' + _.split(String(this.price), '.', 2)[1];
			} else {
				price = ''
			}
			return price
		},
	},
}
</script>
<style scoped lang="scss">
.price {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	flex-wrap: nowrap;
	flex-direction: row;
	align-content: flex-start;

	.unit {
		// font-family: PingFangSC-Medium;
		font-size: 24rpx;
		// color: #fff;
		text-align: center;
		// font-weight: 600;
		line-height: 20rpx;
	}

	.price {
		// font-family: PingFangSC-Medium;
		font-size: 36rpx;
		// color: #fff;
		// font-weight: 600;
		line-height: 30rpx;
	}

	.Point {
		// font-family: PingFangSC-Medium;
		font-size: 24rpx;
		// color: #fff;
		// font-weight: 600;
		line-height: 20rpx;
	}
}
</style>

