<template>
    <view class="gardual">

        <view class="swiperPanel" ref="swiperPanel" @touchstart="startMove" @touchend="endMove">
            <view class="swiperItem" v-for="(item, index) in swiperList" :key="index"
                :style="{ transform: itemStyle[index].transform, zIndex: itemStyle[index].zIndex, opacity: itemStyle[index].opacity }">
                <view class="children">
                    <image class="pic" :src="item.imageUrl" mode="widthFix"></image>

                </view>
            </view>
        </view>
        <text>{{ current }}</text>
        {{ current }}
    </view>
</template>

<script setup lang="ts">
import { ref, watch, onMounted } from 'vue';
const props = defineProps({
    swiperList: {
        type: Array,
        default: () => []
    },
    current: {
        type: Number,
        default: 0
    }
})
interface itemStyleItem {
    transform:string
    zIndex:number
    opacity:number
}

const current = ref(props.current);
const slideNoteX = ref(0);
const slideNoteY = ref(0);
const screenWidth = ref<number | undefined>(0)
const itemStyle = ref<itemStyleItem[]>([])

watch(
    () => props.current,
    (newVal) => {
        current.value = newVal;
    },
    { deep: true }
)
onMounted(() => {
    var systemInfo = uni.getSystemInfoSync();
    screenWidth.value = systemInfo.screenWidth
    console.log(screenWidth.value)
    props.swiperList.forEach((item, index) => itemStyle.value.push(getStyle(index)))


})
function getStyle(e: any) {
    if (e > props.swiperList.length / 2) {
        var right = props.swiperList.length - e
        return {
            transform: 'scale(' + (1 - right / 10) + ') translate(-' + (right * 9) + '%,0px)',
            zIndex: 9999 - right,
            opacity: 0.3 / right
        }
    } else {
        return {
            transform: 'scale(' + (1 - e / 10) + ') translate(' + (e * 9) + '%,0px)',
            zIndex: 9999 - e,
            opacity: 0.3 / e
        }
    }
}

function rightSlider() {
    var newList = JSON.parse(JSON.stringify(itemStyle.value));
    var last = [newList.pop()]
    newList = last.concat(newList)
    itemStyle.value = newList;
}
const startMove = (e: {
    changedTouches: {
        [x: string]: number; pageY: number;
    }[];
}) => {

    slideNoteX.value = e.changedTouches[0] ? e.changedTouches[0].pageX : 0;
    slideNoteY.value = e.changedTouches[0] ? e.changedTouches[0].pageY : 0;
}

const endMove = (e: any) => {
    // timer = setInterval(()=>{
    // 	this.rightSlider();
    // },3000)
    rightSlider();
    var newList = JSON.parse(JSON.stringify(itemStyle.value));
    if ((e.changedTouches[0].pageX - slideNoteX.value) < -20) {
        // 向左滑动
        var last = [newList.pop()]
        newList = last.concat(newList)
    } else if ((e.changedTouches[0].pageX - slideNoteX.value) > 20) {
        // 向右滑动
        newList.push(newList[0])
        newList.splice(0, 1)
    } else {

    }
    itemStyle.value = newList
}
</script>
<style lang="scss">
	.swiperPanel {
		margin: 25rpx ;
		height: 350rpx;
		width: 700upx;
		overflow: hidden;
		position: relative;
		// margin-left:80upx;

		.swiperItem {
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0upx;
			transition: all .5s;

			.children {
				height: 100%;
				width: 650upx;
				// margin: 2upx 160upx 2upx 0;
				margin: 20rpx 0;
				position: relative;
				
				.right{
					position: absolute;
					right:0;
					top:0;
					width:50%;
					height:100%;
					background:#C29462;
					color:#fff;
					font-size:32upx;
					padding:10upx;
					box-sizing: border-box;
					border-radius: 0 10upx 10upx 0;
				}

				.pic {
					height: 100%;
					width: 100%;
					border-radius: 10upx;
				}
			}
		}
	}
</style>