.v-qm-banner {
    width: 100%;
    z-index: 999;
    background: transparent;

    .image {
        width: 100%;
    }

    .qm-banner-swiper-item {
        position: relative;
    }

    .underImg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
    }

    .qm-banner-swiper-item-box {
        background-size: cover;
        opacity: 0;
        transition-property: opacity;
    }
}

.qm-banner-underImg {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.uperUderImg {
    width: 100%;
    height: 100%;
}

.aaaa {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    transform: translate(0%, 0) translateZ(0);
    transition: 1s;

    .image {
        width: 100%;
        height: 100%;
    }
}

.indicator {
    position: absolute;
    bottom: 50rpx;
    left: 40rpx;
    background-color: rgba(0, 0, 0, 0.4);
    width: 120rpx;
    height: 5rpx;
    border-radius: 3rpx;
    overflow: hidden;
    display: flex;

    .dots {
        width: 0rpx;
        background-color: rgba(255, 85, 255, 1);
        transition: all 0.3s ease-out;
    }
}
.swiperPanel {
    margin: 25rpx ;
    height: 350rpx;
    width: 700upx;
    overflow: hidden;
    position: relative;
    // margin-left:80upx;

    .swiperItem {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0upx;
        transition: all .5s;

        .children {
            height: 100%;
            width: 650upx;
            // margin: 2upx 160upx 2upx 0;
            margin: 20rpx 0;
            position: relative;
            
            .right{
                position: absolute;
                right:0;
                top:0;
                width:50%;
                height:100%;
                background:#C29462;
                color:#fff;
                font-size:32upx;
                padding:10upx;
                box-sizing: border-box;
                border-radius: 0 10upx 10upx 0;
            }

            .pic {
                height: 100%;
                width: 100%;
                border-radius: 10upx;
            }
        }
    }
}