<template>
    <view v-if="list.length" style="position: relative">
        <swiper class="v-qm-banner" :style="[whStyle]" :indicator-dots="false" :circular="circular" :autoplay="autoplay" :current="current"
            :interval="interval" duration="500" @change="swiperChange">
            <swiper-item class="swiper-item" v-for="(item, index) in list " :key="index">
                <view>
                    <image mode="widthFix" class="image" :src="item[keyName]" :style="{ height: props.height + 'rpx' }" />
                </view>
            </swiper-item>
        </swiper>
        <view class="indicator-left" v-if="list.length > 1 && props.indicatorPos == 'left'">
            <view v-for="(swiper, index) in list" :key="index" :style="{
                width: `${(1 / list.length * 100)}%`,
                'background-color': current === index ? '#000' : '#D3D3D3',
            }"></view>
        </view>
        <view class="indicator-center" v-if="list.length > 1 && props.indicatorPos == 'center'">
            <view v-for="(swiper, index) in list" :key="index" :style="{
                width: `${(1 / list.length * 100)}%`,
                'background-color': current === index ? '#000' : '#D3D3D3',
            }"></view>
        </view>
        <view class="indicator-right" v-if="list.length > 1 && props.indicatorPos == 'right'">
            <view v-for="(swiper, index) in list" :key="index" :style="{
                width: `${(1 / list.length * 100)}%`,
                'background-color': current === index ? '#000' : '#D3D3D3',
            }"></view>
        </view>
        <!-- {{ current }} -->
    </view>
</template>

<script setup lang="ts">
import { ref, watch, computed } from 'vue';

import propsConfig from "./props"
const props = defineProps(propsConfig.props)
const autoplay = ref(props.autoplay)
const list = ref(props.list)
const current = ref(props.current)
const circular = ref(props.circular)

const whStyle = computed(() => {
    return {
        width: props.width + 'rpx',
        height: props.height + 'rpx'
    }
})

const emit = defineEmits(["change"])

watch(
    () => props.list,
    async (val) => {
        list.value = val
    },
    {
        immediate: true,
    },
);
watch(
    () => props.current,
    async (val) => {
        current.value = val
    },
    {
        immediate: true,
    },
);





const swiperChange = (e: { detail: { current: number; }; }) => {
    current.value = e.detail.current // 更新当前index
    emit("change", current.value)
}

</script>


<style lang="scss">
@import "./index.scss";
.indicator-left {
    position: absolute;
    bottom: 50rpx;
    left: 40rpx;
    background-color: rgba(0, 0, 0, 0.4);
    width: 120rpx;
    height: 5rpx;
    border-radius: 3rpx;
    overflow: hidden;
    display: flex;
}
.indicator-center {
    position: absolute;
    bottom: 50rpx;
    left: 40rpx;
    background-color: rgba(0, 0, 0, 0.4);
    width: 120rpx;
    height: 5rpx;
    border-radius: 3rpx;
    overflow: hidden;
    display: flex;
}
.indicator-right {
    position: absolute;
    bottom: 50rpx;
    right: 40rpx;
    background-color: rgba(0, 0, 0, 0.4);
    width: 120rpx;
    height: 5rpx;
    border-radius: 3rpx;
    overflow: hidden;
    display: flex;
}
    .dots {
        width: 0rpx;
        background-color: rgba(255, 85, 255, 1);
        transition: all 0.3s ease-out;
    }
</style>
