<template>
    <view v-if="list.length" style="position: relative">
        <view class="qm-banner-underImg uperUderImg">
            <view class="aaaa" v-for="(item, index) in  list" :key="index"
                :style="{ 'opacity': index == currentIndex ? '1' : '0' }">
                <image lazy-load :src="item.imageUrl" mode="scaleToFill" class="image" :style="{ height: props.height + 'rpx' }" />
            </view>
        </view>
        <swiper class="v-qm-banner" :style="[whStyle]" :indicator-dots="false" :circular="circular" :autoplay="autoplay"
            :interval="interval" duration="500" @change="swiperChange">
            <swiper-item class="swiper-item" v-for="(item, index) in list " :key="index">
                <view>
                    <image mode="scaleToFill" class="image"  lazy-load :src="item.maskImageUrl"
                        :style="{ height: props.height + 'rpx' }" />
                </view>
            </swiper-item>
        </swiper>
        <view class="indicator">
            <view v-for="(swiper, index) in list" :key="index" :style="{
                width: `${(1 / list.length * 100)}%`,
                'background-color': currentIndex === index ? '#000' : '#D3D3D3',
            }"></view>
        </view>

    </view>
</template>

<script setup lang="ts">
import { ref, watch, computed } from 'vue';

import propsConfig from "./props"
const props = defineProps(propsConfig.props)
const autoplay = ref(props.autoplay)
const list = ref(props.list)
const circular = ref(props.circular)
const currentIndex = ref(0);

const whStyle = computed(() => {
    return {
        width: props.width + 'rpx',
        height: props.height + 'rpx'
    }
})


watch(
    () => props.list,
    async (val) => {
        list.value = val
    },
    {
        immediate: true,
    },
);





const swiperChange = (e: { detail: { current: number; }; }) => {
    currentIndex.value = e.detail.current // 更新当前index
}

</script>

<style lang="scss">
@import "./index.scss";
</style>
