<template>
    <view>
        <navbar fontColor="#000" bgColor="#fff" :scrollTop="scrollTop" navbarType='5'></navbar>
        <scroll-view scroll-y @scroll="onPageScroll" style="height:100vh">
            <view class="main">
                <basics-swiper :list="productInfo.carUrlList" indicatorPos="center" keyName="url"
                    height="560"></basics-swiper>
                <view class="product-content">
                    <view class="name">{{ productInfo.name }}</view>
                    <!-- <view class="labels">
                        <text class="label" v-for="(item, index) in productInfo.labels" :key="index"
                            :style="{ color: item.label_color, border: `1rpx solid ${item.label_color}` }">
                            {{ item.name }}
                        </text>
                    </view> -->
                    <view class="description" v-html="productInfo.rule" style="white-space:pre-wrap"></view>


                    <single-spec :list="merSpecsList" :price="productInfo.money"
                        :oldPrice="productInfo.totalMoney"></single-spec>


                    <view class="descriptions">
                        <view v-for="(item, index) in productInfo.detailsList" :key="index">
                            <!-- <view class="title">{{ item.title }}</view>
                            <text class="content">{{ item.content }}</text> -->
                            <image class="img" :src="item" mode="scaleToFill" />
                        </view>
                    </view>
                </view>
            </view>
        </scroll-view>
    </view>
</template>

<script setup lang="ts">
import { ref } from "vue"
import { onLoad } from "@dcloudio/uni-app";
import BasicsSwiper from "@/components/Swiper/basics-swiper.vue";
import SingleSpec from "@/components/spec/single-spec.vue";
import { getProductDetail, getProductSpec } from "@/api/product";

const scrollTop = ref<number>(0)
const productInfo = ref<any>({})
const merSpecsList = ref<any[]>([])

onLoad((options) => {
    console.log(options)
    let item = options as any
    // getComboMealFn(item.productIds)
    getProductDetailFn(item.merId)
    // getProductSpecFn()
})

const onPageScroll = (event: any): void => {
    // 处理滚动事件
    scrollTop.value = event.target.scrollTop;
};


async function getProductDetailFn(merId: string) {
    uni.$u.http.get('/storeMerchandis/getMerchandiseDetails/' + merId, { params: {}, custom: { isFactory: false, load: false, toast: false } }).then((res) => {
        let data = res.data
        let merchandiseDetails = data.merchandiseDetails
        let carUrlList = merchandiseDetails.carUrlList
        if (carUrlList.length) {
            merchandiseDetails.carUrlList = carUrlList.map((item: any, index: number) => ({
                url: item,
                id: index + 1
            }))
        }
        merchandiseDetails.totalMoney = merchandiseDetails.totalMoney + ''
        merchandiseDetails.money = merchandiseDetails.money + ''
        getProductSpecFn(merchandiseDetails.id)
        productInfo.value = merchandiseDetails

    }).catch((err) => {
        console.log(err, 'catch')
    })
    // let { data } = await getProductDetail({ params: {merId}, custom: { isFactory: false, load: false, toast: false } })
    // let merchandiseDetails = data.merchandiseDetails
    // let carUrlList = merchandiseDetails.carUrlList
    // if (carUrlList.length) {
    //     merchandiseDetails.carUrlList = carUrlList.map((item: any, index: number) => ({
    //         url: item,
    //         id: index + 1
    //     }))
    // }
    // merchandiseDetails.totalMoney = merchandiseDetails.totalMoney + ''
    // merchandiseDetails.money = merchandiseDetails.money + ''
    // productInfo.value = merchandiseDetails

    // console.log(productInfo.value)

}
async function getProductSpecFn(id) {
    uni.$u.http.get('/xcxPay/merSpecs/' + id, { params: {}, custom: { isFactory: false, load: false, toast: false } }).then((res) => {
        // console.log(res, 'shpInfo')
        merSpecsList.value = res.data.merSpecsList
    }).catch((err) => {
        console.log(err, 'catch')
    })
    // let { data } = await getProductSpec({ params: {}, custom: { isFactory: false, load: false, toast: false } })
    // console.log(data)
    // merSpecsList.value = data.merSpecsList
}
</script>
<style>
page {
    background: #fff;
}
</style>
<style lang="scss">
.main {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}

.product-content {
    padding: 0 30rpx;

    .name {
        font-size: 38rpx;
        font-weight: 600;
    }

    .labels {
        margin-top: 10rpx;

        .label {
            padding: 4rpx 8rpx;
            font-size: 22rpx;
            margin-right: 10rpx;
        }
    }

    .description {
        font-size: 26rpx;
        color: #666666;
        margin: 10rpx 0;
    }

    .descriptions {
        width: 100%;
        padding-bottom: 220rpx;

        .img {
            width: 100%;
        }
    }
}
</style>
