<template>
    <view>
        <navbar fontColor="#fff" bgColor="#fe461d" :scrollTop="scrollTop" navbarType='5'></navbar>
        <scroll-view scroll-y @scroll="onPageScroll" style="height:100vh">
            <view class="main">
                <basics-swiper :list="productInfo.images" indicatorPos="center" keyName="url" height="600"></basics-swiper>
                <view class="product-content">
                    <view class="name">{{ productInfo.name }}</view>
                    <view class="labels">
                        <text class="label" v-for="(item, index) in productInfo.labels" :key="index"
                            :style="{ color: item.label_color, border: `1rpx solid ${item.label_color}` }">
                            {{ item.name }}
                        </text>
                    </view>
                    <view class="description" v-text="productInfo.major_description" style="white-space:pre-wrap"></view>


                    <view class="descriptions">
                        <view v-for="(item, index) in productInfo.product_descriptions" :key="index">
                            <view class="title">{{ item.title }}</view>
                            <text class="content">{{ item.content }}</text>
                        </view>
                    </view>
                </view>
            </view>
        </scroll-view>
    </view>
</template>

<script setup lang="ts">
import { ref } from "vue"
import { onLoad } from "@dcloudio/uni-app";
import BasicsSwiper from "@/components/Swiper/basics-swiper.vue";
import { getComboMeal } from "@/api/product";

const scrollTop = ref<number>(0)
const productInfo = ref<any>({})


onLoad((options) => {
    console.log(options)
    // let item = options as any
    // getComboMealFn(item.productIds)
    getComboMealFn()
})

const onPageScroll = (event: any): void => {
    // 处理滚动事件
    scrollTop.value = event.target.scrollTop;
};


async function getComboMealFn() {

    let { data } = await getComboMeal({ params: {}, custom: { isFactory: false, load: false } })
    productInfo.value = data[0]
}
</script>

<style lang="scss">
.product-content {
    padding: 0 40rpx;

    .name {
        font-size: 46rpx;
    }

    .labels {
        margin-top: 10rpx;

        .label {
            padding: 6rpx 10rpx;
            font-size: 24rpx;
            margin-right: 10rpx;
        }
    }

    .description {
        font-size: 30rpx;
        color: #333333;
        margin: 40rpx 0;
    }

    .descriptions {
        color: #666666;

        .title {
            font-size: 24rpx;
        }

        .content {
            font-size: 24rpx;
        }
    }
}
</style>
