<template>
    <view>
        <text class="iconfont" :class="props.name" :style="{ 'color': props.color, 'font-size': props.font }" @click="click"></text>
    </view>
</template>

<script setup lang="ts">


const emits = defineEmits(['click'])

const props = defineProps({
    name: {
        type: String,
    },
    color: {
        type: String,
        default: '#000'
    },
    font: {
        type: String,
        default: '28px'
    }
})
const click = () => {
    emits('click')
}
</script>

<style scoped>
@import url("./font/iconfont.css");

.iconfont {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: inherit;
}
</style>
