@font-face {
  font-family: "iconfont"; /* Project id 4429623 */
  src: url('iconfont.woff2?t=1706772968780') format('woff2'),
       url('iconfont.woff?t=1706772968780') format('woff'),
       url('iconfont.ttf?t=1706772968780') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e6b4";
}

.icon-gouwu:before {
  content: "\e86e";
}

.icon-jianshao:before {
  content: "\e8b1";
}

.icon-zengjia:before {
  content: "\e8c8";
}

.icon-youhuiquan:before {
  content: "\e8c0";
}

.icon-jia:before {
  content: "\e7b2";
}

