<template>
		<view class="mask" v-if="show" @touchmove.stop>
			<view class="mask-content animated bounceInDown" @click.stop>
				<image :src="props.image" class="thumb" mode="widthFix"></image>
				<view class="close-btn" @click="close">
					<text class="new-iconfont icon-wrong"></text>
				</view>
			</view>
		</view>
</template>

<script setup lang="ts">
import { ref, watch } from "vue"
import propsConfig from "./props"
const props = defineProps(propsConfig.props);
const show = ref(props.show)

const emit = defineEmits(["close"]);


watch(
	() => props.show,
	(newVal, oldVal) => {
		show.value = newVal
	},
	{ immediate: true }
)



const close = () => {

	emit('close')
}
</script>

<style lang="scss" scoped>
.small-text {
	// font-size: 80%;
}

.mask {
	display: flex;
	align-items: center;
	justify-content: center;

}

.mask-content {
	width: 660rpx;
	// min-height: 680rpx;
	// height: 680rpx;
	// background-color: #EDEDED;
	// background-color: white;
	border-radius: 20rpx;
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	// animation: show 0.8s;
	// padding: 30rpx 20rpx 50rpx 20rpx;
	box-sizing: border-box;
	position: relative;

	// .close-btn {
	// 	position: absolute;
	// 	right: 26rpx;
	// 	top: 26rpx;

	// 	color: #999;
	// }

	.thumb {
		width: 660rpx;
	}

	.close-btn {
		border: 4rpx solid white;
		border-radius: 50%;
		font-size: 40rpx;
		width: 80rpx;
		height: 80rpx;
		// margin-top: 10rpx;
		line-height: 80rpx;
		text-align: center;
		color: white;
		// border: 1px solid red;
		margin: 10rpx auto 0rpx auto;
	}
}
</style>
