<template>
    <view>
        <u-popup :show="show" mode="bottom" @close="close" zIndex="999998">
            <view class="tip" :style="{ 'color': PrimaryColor, 'font-size': '24rpx' }">当前环境：【{{ current >= 0 ?
                envList[current].name : '默认环境' }}】点击切换开发环境
            </view>
            <view class="list">
                <view class="item" v-for="(item, index) in envList" :key="index"
                    :class="[item.value == url ? 'no_active' : 'active']" @click="changeEnv(index)">
                    <view class="icon">
                        <image class="img" :src="`/static/icon/icon_${item.name}.png`" mode="scaleToFill" />
                    </view>
                    <view class="name">{{ item.name }}</view>
                </view>
            </view>
        </u-popup>
        <!-- <u-notify :message="`已切换到${envList[current].value} 环境`" :show="notifyShow"></u-notify> -->
    </view>
</template>

<script setup lang="ts">
import { ref, watch, onMounted,computed } from "vue"
import { useAppStore } from "@/store/app";
import propsConfig from "./props"
import type { envItem } from '@/interface/config.interface';

const PrimaryColor = computed(() => useAppStore().PrimaryColor);


const emit = defineEmits(["close"])


const props = defineProps(propsConfig.props)
const show = ref(props.show)
const notifyShow = ref(false)
const current = ref(-1)
const url = ref('')
const envList = ref<envItem[]>([
    { name: '本地', value: "http://localhost:8080/api" },
    { name: '测试', value: "https://go.heytea.com/api" },
    { name: '小咖Pre', value: "https://crm-test.xiaokacoffee.com" },
])
watch(
    () => props.show,
    (newValue) => { show.value = newValue },
    { immediate: true }
)


const changeEnv = (index: number) => {
    current.value = index
    url.value = envList.value[index].value
    uni.setStorageSync('envUrl', envList.value[index].value)
    notifyShow.value = true
    show.value = false
    uni.showToast({
        title: '切换成功',
        icon: 'none'
    })
    emit('close', show.value)
}
const close = () => {

    emit('close', !show.value)
}

onMounted(() => {
    url.value = uni.getStorageSync('envUrl')
})
</script>
<style lang="scss" scoped>    .tip {
        padding-top: 20rpx;
        text-align: center;
    }

    .list {
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding: 30rpx 20rpx;


        .item {
            width: 140rpx;
            height: 140rpx;

            .icon {
                width: 80rpx;
                height: 80rpx;
                padding: 10rpx;
                margin: 0 auto 0;

                .img {
                    width: 80rpx;
                    height: 80rpx;
                }
            }

            .name {
                font-size: 24rpx;
            }

            &.no_active {
                box-shadow: 9px 9px 15px rgba(0, 0, 0, 0.1),
                    -9px -9px 15px rgba(255, 255, 255, 1);
                border-radius: 8px;
                background-color: #eee;

                transition: box-shadow .2s ease-out;
            }

            &.active {
                background: rgb(255, 255, 255);
                box-shadow: inset;
            }
        }
    }
</style>
