<template>
    <view class="page-container">
        <common-conponent></common-conponent>
        <u-overlay :show="coopen">
            <view class="overlay-wrap">
                <image
                    src="https://cdn-product-prod.yummy.tech:443/online-admin/2024/01/68ec4eecd2524e309d2caa18204b24d6_柿子开屏.jpg"
                    mode="widthFix" class="start-image"></image>
                <text class="coopen-text" @click="closeCoopen">{{ num }} 跳过</text>
            </view>
        </u-overlay>

        <template v-if="!coopen">
            <stack-swiper :list="ads" height="660"></stack-swiper>
            <view class="user-info">
                <view class="not-login">
                    <image class="img" :src="notLoginImg" />
                </view>
            </view>
            <view class="take-content">
                <view class="take-item" v-for="(item, index) in takeList" :key="index">
                    <image class="img" :src="item.url" />
                </view>

            </view>
            <!-- <image @click="skipPage"
                src="https://go.cdn.heytea.com/storage/product/2024/01/11/1c815236c3554ca9adc4952ebe4e88e9.jpg-app"
                mode="scaleToFill" /> -->

            <view class="container">
                <u-button :color="PrimaryColor" :customStyle="customStyle"
                    @click="$u.debounce(openLogin, 300)">登录</u-button>
                <u-button :color="PrimaryColor" :customStyle="customStyle" @click="openActity">活动弹窗</u-button>
                <u-button :color="PrimaryColor" :customStyle="customStyle" @click="openProduct"
                    v-if="env == 'development'">商品弹窗</u-button>
                <u-button :color="PrimaryColor" :customStyle="customStyle" @click="skipPage">跳转商品详情</u-button>
                <u-button :color="PrimaryColor" :customStyle="customStyle" @click="envShow = true">切换接口环境</u-button>
            </view>

        </template>
        <activity-popup :show="showPopup" :image="activityInfo.url" @close="showPopup = false"></activity-popup>
        <env-popup :show="envShow" @close="closeEnvPopup"></env-popup>
    </view>
</template>

<script setup lang="ts">
import { onShow } from "@dcloudio/uni-app";
import { ref, onMounted, reactive, computed } from 'vue'
import { getHomeData, getHomeLogin, getDiningTypeBanner, getUserInfo } from "@/api/home";
import EnvPopup from "@/components/Popup/env-popup.vue";
import ActivityPopup from "@/components/Popup/activity-popup.vue"
import StackSwiper from "@/components/Swiper/stack-swiper.vue"

// import { useAppSetting } from "@/hooks/setting";


// const { coopen, PrimaryColor } = useAppSetting()




import { useAppStore } from '@/store/app';


const PrimaryColor = computed(() => useAppStore().PrimaryColor)
const coopen = computed(() => useAppStore().coopen)

const env = process.env.NODE_ENV

// watch(
//     ()=>coopen.value,
//     (newVal)=>{
//         if(newVal){
//             console.log('coopen',newVal)
//         }
//     },
//     {deep:true,immediate:true}
// )



const ads = ref<any[]>([])
const notLoginImg = ref<string>("")
const takeList = ref<any[]>([])
const activityInfo = ref<any>({
    id: 1,
    url: "https://trade-marketing-prod-oss.pin-dao.cn/product/1705462123047.jpg"
})
const productPopup = ref(false)

const showPopup = ref<boolean>(false)
const envShow = ref<boolean>(false)
let timer: any
const num = ref(3)
const customStyle = reactive({
    'border-radius': '0',
    'margin-bottom': '10rpx',
})


async function getUserInfoFn() {
    let { data } = await getUserInfo({params:{},custom:{isFactory:false,load:false,toast:false}})
    console.log(data)
    let userInfo = {
        id:data.user.id,
        phone:data.user.phone,
        nickname:data.user.name,
        useNum:data.useNum
    }
    useAppStore().setUserInfo(userInfo)

}


async function getHomeDataFn() {
    let { data } = await getHomeData({ params: { shop_id: 3142 }, custom: { isFactory: false, load: false, toast: false } })
    // console.log(data)
    const { ad } = data
    ads.value = ad.ads.filter((item: any) => item.id > 0)

}

async function getHomeLoginFn() {
    let { data } = await getHomeLogin({ params: {}, custom: { isFactory: false, load: false, toast: false } })
    notLoginImg.value = data[0].url
}

async function getDiningTypeBannerFn() {
    let { data } = await getDiningTypeBanner({ params: {}, custom: { isFactory: false, load: false, toast: false } })
    console.log(data)
    takeList.value = data
}

const skipPage = () => {

    uni.navigateTo({
        url: "/pages/product-detail/product-detail"
    })
}
const openActity = () => {
    showPopup.value = true
}
const openLogin = () => {
    useAppStore().setLoginPopupShow(true)
}
const closeCoopen = () => {
    useAppStore().setCoopen(false)
    uni.showTabBar()
}
const openProduct = () => {
    productPopup.value = true
}
const closeEnvPopup = (value: boolean) => {
    envShow.value = value
}
onShow(() => {
    getHomeDataFn()
    timer = setInterval(() => {
        num.value--
        if (num.value <= 0) {
            closeCoopen()
            clearInterval(timer)
        }

    }, 1000)
})
onMounted(() => {
    getUserInfoFn()
    getHomeLoginFn()
    getDiningTypeBannerFn()
    getHomeDataFn()
    uni.hideTabBar()
})
</script>

<style lang="scss">
.container {
    padding: 20rpx;
}

.overlay-wrap {
    position: relative;
    width: 750rpx;
    height: 100%;

    .start-image {
        position: absolute;
        width: 750rpx;
        height: 100%;
    }

    .coopen-text {
        position: absolute;
        right: 60rpx;
        bottom: 80rpx;
        color: #fff;
        background: #00000042;
        font-size: 24rpx;
        padding: 6rpx 10rpx;


    }
}

.user-info {
    padding: 0 20rpx;

    .not-login {
        width: 100%;
        height: 130rpx;

        .img {
            width: 100%;
            height: 130rpx;
        }
    }
}

.take-content {
    padding: 0 20rpx;
    margin: 20rpx 0;
    display: flex;

    .take-item {
        width: 50%;
        height: 160rpx;

        .img {
            width: 100%;
            height: 160rpx;
        }
    }
}
</style>
