<template>
    <view class="cart-bar">
        <view class="lt-bar radius_8" :style="{ 'width': ltBarWidth + 'px', 'background': PrimaryColor }"
            @click="openCoupon('coupon')">
            <image class="coupon" src="/static/icon/coupon.png" mode="scaleToFill" />
            <view class="title  ellipsis_1" v-if="!open || openType == 'coupon'"> <text class="num">{{ userInfo.useNum
            }}</text> 张券</view>
        </view>
        <view class="rt-bar radius_8" :style="{ 'width': rtBarWidth + 'px' }">

            <view class="cart-money u-flex" @click="$u.debounce(changeWidth('cart'), 300)">

                <view class="cart">

                    <image class="icon" src="/static/icon/cart.png" />

                </view>
                <view class="money">
                    <m-price :price="`${totalPrice}`"></m-price>
                </view>
            </view>
            <view class="check-out" @click="skipPage"
                :style="{ 'color': cartList.length == 0 ? '#fff' : PrimaryColor, 'background': cartList.length == 0 ? '#918f90' : '#4f4c4d', }">
                去结算
            </view>
        </view>
    </view>
</template>

<script setup lang="ts">
import { ref, watch, onMounted, computed, nextTick, getCurrentInstance } from "vue"
import MPrice from "@/components/Price/index.vue"
import { useAppStore } from "@/store/app";
import { useCartStore } from "@/store/cart";
// import { useAppSetting } from "@/hooks/setting"
// import { useCart } from "@/hooks/cart"
// const { pickTack, userInfo, PrimaryColor } = useAppSetting()
// const { cartList, totalPrice } = useCart()

const PrimaryColor = computed(() => useAppStore().PrimaryColor)
const userInfo = computed(() => useAppStore().userInfo)
const cartList = computed(() => useCartStore().cartList)
const totalPrice = computed(() => useCartStore().totalPrice)

const emit = defineEmits(["open"])

const props = defineProps({
    open: {
        type: Boolean,
        default: false
    }
})



watch(
    () => props.open,
    (val) => {
        open.value = val
        if (!val) {
            rtBarWidth.value = parentWidth.value - 70;
            ltBarWidth.value = 60;
        }
    },
    { deep: true }
)


const instance = getCurrentInstance()
const parentWidth = ref<number>(0)

const ltBarWidth = ref<number>(60)

const rtBarWidth = ref<number>(0)
const open = ref<boolean>(props.open)
const openType = ref<string>("")



const changeWidth = (type: string) => {
    if (cartList.value.length === 0) return
    openType.value = type
    open.value = !open.value
    if (open.value) {
        ltBarWidth.value = 0
        rtBarWidth.value += parentWidth.value - 60

    } else {
        ltBarWidth.value = 60
        rtBarWidth.value = parentWidth.value - 70;
    }
    emit("open", open.value, type)

}

const openCoupon = (type: string) => {
    open.value = !open.value
    openType.value = type
    emit("open", open.value, type)
}
const skipPage = () => { }



onMounted(() => {
    nextTick(() => {
        const query = uni.createSelectorQuery().in(instance);
        query.select(".cart-bar").boundingClientRect((data: any) => {
            parentWidth.value = data.width
            ltBarWidth.value = 60
            rtBarWidth.value = data.width - 70 as any
        }).exec()
    });
})

</script>

<style scoped lang="scss">
.cart-bar {
    position: fixed;
    left: 20rpx;
    right: 20rpx;
    /*  #ifdef MP-WEIXIN  */
    bottom: 20rpx;
    /*  #endif  */
    /*  #ifdef H5 | APP-PLUS  */
    bottom: 120rpx;
    /*  #endif  */

    height: 100rpx;
    z-index: 9992;
    display: flex;
    justify-content: space-between;

    .lt-bar {
        transition: all .1s ease;
        text-align: center;

        .coupon {
            width: 60rpx;
            height: 60rpx;
            margin-top: 6rpx;
            // text-align: center;
        }

        .title {
            color: #fff;
            font-size: 20rpx;
            margin-top: -10rpx;
        }
    }

    .rt-bar {
        display: flex;
        background: #000;
        overflow: hidden;
        justify-content: space-between;
        // background: #8fe9c8;
        transition: all .1s ease;


        .cart-money {
            flex: 1;
            align-items: center;

            .cart {
                width: 80rpx;
                height: 80rpx;
                margin: -14rpx 20rpx 0 20rpx;

                .icon {
                    width: 80rpx;
                    height: 80rpx;
                }
            }

            .money {
                line-height: 100rpx;
                // font-size: 32rpx;
                font-weight: 600;
                color: #fff;
            }
        }

        .check-out {
            width: 180rpx;


            line-height: 100rpx;
            text-align: center;
            font-weight: bold;

            &.no_active {
                color: #fff;
                background: #918f90;
            }

            &.active {
                color: #EE4878;
                background: #4f4c4d
            }
        }

    }
}</style>
