<template>
    <view class="header" id="header" ref="header">
        <!-- #ifdef MP-WEIXIN -->
        <view class="status-bar" :style="{ height: statusBarHeight + 'px' }"></view>
        <view class="title-bar" :style="{ height: titleBarHeight + 'px' }">
            <view class="switch-search"
                :style="{ height: capsuleHeight + 'px', 'top': capsuleTop - statusBarHeight + 'px', width: screenWidth - capsuleWidth - (screenWidth - base.systemInfo.capsule.right) - paddingPx + 'px' }">
                <view class="switch">
                    <text :style="{ 'background': pickTack == 10 ? PrimaryColor : '' }"
                        :class="[pickTack == 10 ? 'active' : '']" @click="switchPick">自提 </text>
                    <text :style="{ 'background': pickTack == 20 ? PrimaryColor : '' }"
                        :class="[pickTack == 20 ? 'active' : '']" @click="skipTackStore">配送</text>
                </view>
                <view class="search" :style="{ height: capsuleHeight + 'px', width: capsuleHeight + 'px' }">
                    <view class="search-box">
                        <image class="icon" :style="{ height: capsuleHeight - 15 + 'px', width: capsuleHeight - 15 + 'px' }"
                            src="/static/icon/search.png" mode="scaleToFill" />

                    </view>
                </view>
            </view>
        </view>
        <!-- #endif -->

        <!-- #ifdef APP-PLUS || H5 -->
        <!-- <view class="status-bar" :style="{ height: statusBarHeight + 'px' }"></view> -->
        <view class="title-bar">
            <view class="switch-search">
                <view class="switch">
                    <text :style="{ 'background': pickTack == 10 ? PrimaryColor : '' }"
                        :class="[pickTack == 10 ? 'active' : '']" @click="switchPick">自提 </text>
                    <text :style="{ 'background': pickTack == 20 ? PrimaryColor : '' }"
                        :class="[pickTack == 20 ? 'active' : '']" @click="skipTackStore">配送</text>
                </view>
                <!-- <view class="search" :style="{ height: capsuleHeight + 'px', width: capsuleHeight + 'px' }">
                    <view class="search-box">
                        <image class="icon" :style="{ height: capsuleHeight - 15 + 'px', width: capsuleHeight - 15 + 'px' }"
                            src="/static/icon/search.png" mode="scaleToFill" />

                    </view>
                </view> -->
            </view>
        </view>
        <!-- #endif -->
        <view class="store-piece u-flex u-flex-between">
            <view class="store-info">
                <view class="name">北京朝阳门SOHO店</view>
                <view class="address">{{ pickTack == 10 ? '距离您897m' : '北京东城区朝阳门内大街2号的朝阳门SOHO店' }}</view>
            </view>
            <view class="piece" @click="bill">
                <text class="piece-text">拼单</text>
                <image class="piece-img" src="https://trade-marketing-prod-oss.pin-dao.cn/product/1701409918728.gif"
                    mode="scaleToFill" />
            </view>
        </view>
        <view class="notice">
            <slot name="notice"></slot>
        </view>
        <view class="recommend">
            <slot name="recommend"></slot>
        </view>


    </view>
</template>

<script setup lang="ts">
import { ref, getCurrentInstance, computed, onMounted, nextTick } from "vue"
// import { onLoad } from "@dcloudio/uni-app";



import { useAppStore } from "@/store/app";

import base from "@/config/baseUrl"


const pickTack = computed(() => useAppStore().pickTack)
const PrimaryColor = computed(() => useAppStore().PrimaryColor)

const emit = defineEmits(['getHeight', 'bill'])

const props = defineProps({
    data: {
        type: Object,
        default: () => { }
    }
})

// #ifdef MP-WEIXIN
const statusBarHeight = base.systemInfo.statusBarHeight
const titleBarHeight = base.systemInfo.titleBarHeight
const capsuleHeight = base.systemInfo.capsule.height
const capsuleTop = base.systemInfo.capsule.top
const screenWidth = base.systemInfo.screenWidth
const capsuleWidth = base.systemInfo.capsule.width
// #endif
const paddingPx = ref<number>(20)
const header = ref()
const instance = getCurrentInstance()




const skipTackStore = () => {
    useAppStore().setPickTack(20)
}
const switchPick = () => {
    useAppStore().setPickTack(10)
}
const bill = () => {
    emit('bill')
}


onMounted(() => {
    nextTick(() => {
        const query = uni.createSelectorQuery().in(instance);
        query.select("#header").boundingClientRect((data) => {
            emit('getHeight', data.height)
        }).exec()
    });
})

</script>

<style scoped lang="scss">
.header {
    position: fixed;
    width: 100%;
    background: #ffffff;
    height: auto;

    .status-bar {
        // background-color: rgb(107, 231, 44);
    }

    .title-bar {
        position: relative;
        // background-color: aqua;

        .switch-search {
            position: absolute;
            // width: 180rpx;
            // background: pink;
            left: 20rpx;

            .switch {
                width: 180rpx;
                height: 100%;
                display: flex;
                align-items: center;
                border-radius: 50rpx;
                background-color: #e7e7e7;
                font-size: 24rpx;
                padding: 0 6rpx;

                text {
                    display: inline-block;
                    text-align: center;
                    width: 90rpx;
                    color: #999999;
                    border-radius: 50rpx;
                }

                .active {
                    // background-color: brown;
                    color: #fff;
                    padding: 10rpx 0;
                    border-radius: 50rpx;
                }
            }

            .search {
                position: absolute;
                top: 0px;
                right: 0;

                .search-box {
                    height: 100%;
                    border-radius: 50%;
                    background: #00000011;

                    .icon {
                        margin: 14rpx;
                    }
                }
            }
        }
    }

    .store-piece {
        padding: 0 20rpx;
        // background-color: tomato;
        height: 100rpx;
        align-items: center;
        padding-bottom: 10rpx;

        // line-height: 120rpx;
        .store-info {
            .name {
                font-size: 30rpx;
                font-weight: 600;
            }

            .address {
                font-size: 24rpx;
                color: #999999;
            }
        }

        .piece {
            display: flex;
            align-items: center;

            .piece-text {
                font-size: 24rpx;
                font-weight: 600;
                color: #666666;
            }

            .piece-img {
                width: 80rpx;
                height: 80rpx;
                margin-left: 10rpx;
            }
        }
    }

    .notice {
        padding: 0 20rpx 10rpx 20rpx;
    }

}
</style>
