<template>
    <view class="menu-content" :style="{ 'top': top + 'px', 'height': `calc(100vh - ${top}px)` }">
        <view class="main" v-if="categories.length">
            <!-- 左侧菜单 begin -->
            <scroll-view class="menu-bar" scroll-y scroll-with-animation :enhanced="true" :scroll-top="productsScrollTop"
                :show-scrollbar="false" :style="{ 'height': `calc(100vh - ${top}px)` }">
                <view class="wrapper">
                    <view class="menu-item" :class="{ active: current == index }" v-for="(category, index) in categories"
                        :key="index" @click="changeCurrent(index, category.id)" :style="{'color':current==index?PrimaryColor:''}">
                        <image :src="category.url" mode="widthFix" v-if="category.url" class="image"></image>
                        <image src="https://oss.xiaokacoffee.com/image/green.png" mode="widthFix" class="image" v-else>
                        </image>
                        <view class="title">{{ category.name }}</view>

                    </view>
                </view>
            </scroll-view>
            <!-- 左侧菜单 end -->
            <!-- 右侧商品列表 begin -->
            <scroll-view class="product-section" scroll-y scroll-with-animation @scroll="productsScroll"
                @scrolltolower="bottomScroll" :scroll-into-view="scrollIntoView"
                :style="{ 'height': `calc(100vh - ${top}px)` }">
                <view class="wrapper">

                    <!-- 商品 begin -->
                    <view class="products-list" v-for="(category, index) in categories" :key="index"
                        :id="`products-${index}`">
                        <view class="category-name">{{ category.name }}</view>
                        <template v-if="category.onSaleList && category.onSaleList.length">
                            <menu-item :on-sale="category.onSaleList" name="onSale"></menu-item>
                        </template>
                        <template v-if="category.soldOutList && category.soldOutList.length">
                            <menu-item :sold-out="category" name="soldOut" @change="change"></menu-item>
                        </template>


                    </view>
                    <!-- 商品 end -->
                </view>
            </scroll-view>
            <!-- 右侧商品列表 end -->
        </view>

    </view>
</template>

<script setup lang="ts">
import { ref, watch, onMounted,computed, getCurrentInstance } from 'vue'
import menuItem from "./menu-item.vue"
// import { getMenu } from "@/api/menu"

import { useAppStore } from "@/store/app";
// import { useAppSetting } from "@/hooks/setting"

// const { pickTack, userInfo,PrimaryColor } = useAppSetting()
const pickTack = computed(() => useAppStore().pickTack)
const PrimaryColor = computed(() => useAppStore().PrimaryColor)
const userInfo = computed(() => useAppStore().userInfo)

const emit = defineEmits(['getList'])

const props = defineProps({
    top: {
        type: Number,
        default: 0
    },
    menuList:{
        type: Array,
        default: () => []
    }
})




const top = ref(props.top)
const categories = ref<any>(props.menuList)
// const recommendedMerchandiseList = ref<any[]>([])

watch(
    () => props.menuList,
    (val) => {
        categories.value = val
    },
    { deep: true }
)

const instance = getCurrentInstance()
const current = ref<number>(0)
const productsScrollTop = ref<number>(0)
const scrollIntoView = ref<string>("")
const scrollProductList = ref<number[]>([])





const changeCurrent = (index: number, id: number) => {
    current.value = index
    scrollIntoView.value = 'products-' + index;
    //解决最后一个 ***来回*** 问题 (由于点击左侧导航，右侧锚点位置信息变化，此时滚动事件也随之滚动。)
    uni.setStorageSync("resolve", "last");
    // this.scrollTop = index * uni.upx2px(100);
    setTimeout(() => {
        uni.removeStorageSync("resolve")
    }, 800);
}

const change = (flag: boolean) => {
    scrollProductList.value = []
}



/** 滚动 */
function productsScroll(options: any) {
    if (!uni.getStorageSync("resolve")) {
        uni.$u.throttle(getNodeDetails(options), 500)

    }

}


/** 滚动到底部 */
function bottomScroll() {
    current.value = categories.value.length - 1
}

/** 获取节点信息 */
function getNodeDetails(options: any) {

    const query = uni.createSelectorQuery().in(instance);
    query.selectAll('.products-list').fields({
        rect: true,
        size: true,
        scrollOffset: true
    }, function (result: NodeInfo[]) {
        scrollProductList.value = result.map((item) => {
            return Math.ceil(item.top as number);
        });
        async_detail_msg(options)


    }).exec()

}

function async_detail_msg(options: any) {
    let top_page = Math.ceil(options.detail.scrollTop + scrollProductList.value[0]);
    for (let i = 0; i < scrollProductList.value.length; i++) {
        let node1 = scrollProductList.value[i];
        let node2 = scrollProductList.value[i + 1];
        if (node2 && top_page >= node1 && top_page < node2) {
            current.value = i;
            productsScrollTop.value = i * uni.upx2px(100);
            break;
        } else if (node2 && top_page === node2) {
            current.value = i + 1;
            productsScrollTop.value = i * uni.upx2px(100);
            break;
        }
    }
}

watch(() => props.top, (newVal) => {
    top.value = newVal + 5
}, { immediate: true })





async function getMenuFn() {
    let { data } = await getMenu({ params: { phone: userInfo.value.phone, deliveryType: pickTack.value }, custom: { isFactory: false, load: true, toast: false } })
    const { tabInfoList, recommendedMerchandiseList } = data
    if (tabInfoList.length > 0) {
        tabInfoList.forEach((ele: any) => {
            ele.soldFlag = false
            if (ele.onSaleList && ele.onSaleList.length > 0) {
                ele.onSaleList.forEach((item: any) => {
                    item.fixedMoney = item.fixedMoney.toString()
                })
            }
            if (ele.soldOutList && ele.soldOutList.length > 0) {
                ele.soldOutList.forEach((item: any) => {
                    item.fixedMoney = item.fixedMoney.toString()
                })
            }
        })
    }
    categories.value = tabInfoList
    // recommendedMerchandiseList.value = recommendedMerchandiseList
    emit("getList", recommendedMerchandiseList)
}

onMounted(() => {
    // getMenuFn()
})
</script>
<style></style>
<style scoped lang="scss">
.menu-content {
    position: fixed;
    width: 100%;

    .main {
        display: flex;
        overflow-y: scroll;
    }

    .menu-bar {
        width: 160rpx;
        background-color: #f2f2f2;


        .wrapper {
            padding-bottom: 50rpx;

            .menu-item {
                padding: 20rpx;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 26rpx;
                color: $uni-text-color;
                border-left: 7rpx solid transparent;
                overflow: hidden;

                &:nth-last-child(1) {
                    margin-bottom: 100rpx;
                }

                .image {
                    width: 50rpx;
                    height: 50rpx;
                }

                .title {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    margin-top: 10rpx;
                }

                &.active {
                    background-color: #ffffff;
                    // color: $text-color-base;
                    font-weight: 600 !important;
                    // border-left: 7rpx solid #EE4878;
                    // border-left: 7rpx solid $color-primary;
                }

                &:last-child {
                    margin-bottom: 200rpx;
                }
            }
        }
    }

    .product-section {
        flex: 1;
        height: 100vh;
        background-color: #fff;

        ::v-deep ::-webkit-scrollbar {
            /* 滚动条整体样式 */
            display: block;
            width: 10rpx !important;
            height: 10rpx !important;
            -webkit-appearance: auto !important;
            background: transparent;
            overflow: auto !important;
        }

        ::v-deep ::-webkit-scrollbar-thumb {
            /* 滚动条里面小方块 */
            border-radius: 10rpx !important;
            box-shadow: inset 0 0 5rpx rgba(0, 0, 0, 0.2) !important;
            background-color: #E2E2E2 !important;
        }

        ::v-deep ::-webkit-scrollbar-track {
            /* 滚动条 */
            border-radius: 10rpx !important;
            box-shadow: inset 0 0 5rpx rgba(0, 0, 0, 0.2) !important;
            background-color: #ededed !important;
        }


        .wrapper {
            background-color: #fff;
            padding: 0 20rpx 200rpx 20rpx;
        }



        .products-list {
            .category-name {
                position: sticky;
                top: 0;
                height: 70rpx;
                line-height: 70rpx;
                font-weight: 600;
                background-color: #fff;
                font-size: $font-size-base;
                color: $uni-text-color;
                z-index: 9;
            }

        }
    }
}
</style>
