<template>
    <view class="products">
        <template v-if="name == 'onSale'">

            <view class="product" v-for="(product, key) in onSaleList" :key="key" @click="skipPage(product)">
                <view class="product-img radius_8">
                    <image :src="product.listDisplayUrl" mode="widthFix" class="image radius_8"></image>

                </view>
                <view class="content">
                    <view class="name ellipsis_2">{{ product.name }}</view>
                    <view class="description ellipsis_2">{{ product.description }}</view>

                    <view class="price-add u-flex u-flex-between">

                        <view class="price">
                            <m-price :price="`${product.money}`"></m-price>
                            <m-price :price="`${product.totalMoney}`"
                                v-if="product.money < product.totalMoney && product.money != product.totalMoney"
                                class="old-price"></m-price>
                        </view>
                        <view class="add">
                            <iconfont name="icon-jia" :color="PrimaryColor"></iconfont>
                        </view>
                    </view>


                </view>
            </view>

        </template>
        <template v-if="name == 'soldOut'">
            <view class="sold-out">
                <!-- <text>已售罄</text> -->
                <!-- <view class="sold-num" @click="changeFold(category)"><text>含{{ category.soldOutList.length }} 商品
                    </text><u-icon v-if="category.soldOutList.length > 1"
                        :name="!category.soldFlag ? 'arrow-down' : 'arrow-up'" color="#999" size="16"></u-icon>
                </view> -->

            </view>
            <my-read-more :showText="`展开更多已售罄商品（${category.soldOutList.length - 1}件）`" hideText="点击收起"
                :len="category.soldOutList.length" v-if="category.soldOutList.length - 1 > 0" @change="changeFold">

                <view class="product" v-for="(product, key) in category.soldOutList" :key="key" @click="skipPage(product)">
                    <view class="product-img radius_8">
                        <image :src="product.listDisplayUrl" mode="widthFix" class="image radius_8"></image>
                        <text>暂时售罄</text>
                    </view>

                    <view class="content">
                        <view class="name">{{ product.name }}</view>
                        <view class="description ellipsis_2">{{ product.description }}</view>
                        <view class="price-add u-flex u-flex-between">

                            <view class="price">
                                <m-price :price="`${product.money}`"></m-price>
                                <m-price :price="`${product.totalMoney}`"
                                    v-if="product.money < product.totalMoney && product.money != product.totalMoney"
                                    class="old-price"></m-price>
                            </view>
                            <view class="add">
                                <!-- <iconfont name="icon-jia" :color="PrimaryColor"></iconfont> -->
                            </view>
                        </view>

                    </view>
                </view>
            </my-read-more>
            <template v-else>
                <view class="product" v-for="(product, key) in category.soldOutList" :key="key" @click="skipPage(product)">
                    <view class="product-img">
                        <image :src="product.listDisplayUrl" mode="widthFix" class="image radius_8"></image>
                        <text>暂时售罄</text>
                    </view>

                    <view class="content">
                        <view class="name ellipsis_2">{{ product.name }}</view>
                        <view class="description ellipsis_2">{{ product.description }}</view>
                        <view class="price-add u-flex u-flex-between">

                            <view class="price">
                                <m-price :price="`${product.money}`"></m-price>
                                <m-price :price="`${product.totalMoney}`"
                                    v-if="product.money < product.totalMoney && product.money != product.totalMoney"
                                    class="old-price"></m-price>
                            </view>
                            <view class="add">
                                <!-- <iconfont name="icon-jia" :color="PrimaryColor"></iconfont> -->
                            </view>
                        </view>

                    </view>
                </view>
            </template>


        </template>

    </view>
</template>
<script setup lang="ts">
import { ref, watch, computed } from 'vue'

import { useAppStore } from "@/store/app";

// import { useAppSetting } from "@/hooks/setting"
// const { pickTack, userInfo, PrimaryColor } = useAppSetting()

import MyReadMore from '@/components/ReadMore/index.vue'
import MPrice from "@/components/Price/index.vue"


const pickTack = computed(() => useAppStore().pickTack)
const PrimaryColor = computed(() => useAppStore().PrimaryColor)
const userInfo = computed(() => useAppStore().userInfo)

const emit = defineEmits(['change'])

const props = defineProps({
    onSale: Array,
    soldOut: Object,
    name: String,
})

const onSaleList = ref<any>(props.onSale)
const category = ref<any>(props.soldOut)
const name = ref(props.name)


watch(() => props.onSale, (newVal) => {
    onSaleList.value = newVal
}, {
    deep: true
})

watch(() => props.soldOut, (newVal: any) => {
    category.value = newVal
}, {
    deep: true
})

watch(() => props.name, (newVal) => {
    name.value = newVal
}, {
    deep: true
})




const changeFold = (flag: boolean) => {
    emit('change', flag)
}
const skipPage = (product: any) => {
    console.log(product)
    uni.navigateTo({
        url: `/pages/product-detail/product-detail?merId=` + product.merId
    })
}
</script>
<style lang="scss" scoped>
.products {
    display: flex;
    flex-direction: column;
}

.sold-out {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24rpx;
    color: $uni-text-color;
    margin-bottom: 14rpx;

    .sold-num {
        display: flex;
        align-items: center;
    }
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 40rpx;

    .product-img {
        position: relative;
        width: 160rpx;
        height: 160rpx;
        margin-right: 20rpx;
        overflow: hidden;

        .image {
            position: absolute;
            left: 0;
            top: 0;
            width: 160rpx;
            height: 160rpx;
            flex-shrink: 0;

        }

        text {
            position: absolute;
            left: 0;
            bottom: 0;
            background: #00000039;
            display: inline-block;
            width: 100%;
            height: 50rpx;
            font-size: 24rpx;
            line-height: 50rpx;
            color: #fff;
            font-weight: 600;
            text-align: center;
        }
    }


    .content {
        width: 360rpx;
        display: flex;
        flex-direction: column;
        // overflow: hidden;

        .name {
            width: 360rpx;
            font-weight: 600;
            font-size: $uni-font-size-base;
            margin-bottom: 8rpx;
        }

        .labels {
            display: flex;
            font-size: 20rpx;
            margin-bottom: 8rpx;
            overflow: hidden;
            flex-wrap: wrap;

            .label {
                max-width: 40%;
                padding: 6rpx 10rpx;
                margin-right: 10rpx;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .description {
            width: 360rpx;
            margin-bottom: 20rpx;
            color: #999999;
            font-size: $uni-font-size-sm;
        }

        .price-add {
            .price {
                // font-size: $font-size-extra-lg;
                // color: $font-size-base;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .old-price {
                    margin-left: 20rpx;
                    color: #999999 !important;
                    text-decoration: line-through;
                }
            }

            .add {
                width: 42rpx;
                height: 42rpx;

                .icon {
                    width: 42rpx;
                    height: 42rpx;
                    flex-shrink: 0;

                }
            }
        }

    }
}</style>
