.u-flex{
    /* #ifndef APP-NVUE */
    display: flex;
    /* #endif */
    flex-direction: row;
    align-items: center;
}
.f-navbar{
    width: 750rpx;
    .f-fixed{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
    .f-relative{
        position: relative;
    }
    .bgColor{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .content{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .title{
        text-align: center;
        color: #303133;
    }
    .center{
        margin: 0 auto;
    }
    .left,.right{
        padding: 0 24rpx;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .left{
        left: 0;
        &--hover {
        	opacity: 0.7;
        }
        &__text{
            font-size: 30rpx;
            margin-left: 3px;
        }
        .iconBg{
            width: 50rpx;
            height: 50rpx;
            background: rgba(0,0,0,.4);
            border-radius: 25rpx;
            justify-content: center;
        }
    }
    .right{
        right: 0;
    }
    .u-home-arrow-left{
        justify-content: space-between;
        border-radius: 100px;
        padding: 3px 7px;
        opacity: .8;
        border: .5px solid #dadbde;
    }
}