<template>
    <view class="f-navbar">
        <view :class="[navbarType == 1 ? 'f-relative' : 'f-fixed']"
            :style="[navbarType == 1 ? { height: systemInfo.navBarH + 'px' } : { paddingTop: systemInfo.statusBarHeight + 'px' }]">
            <!-- 背景色 -->
            <view class="bgColor"
                :style="{ height: systemInfo.navBarH + 'px', background: bgColor, backgroundImage: gradient, opacity: navbarType == 5 ? transparentValue : '' }">
                <image :src="image" :mode="imageMode" style="width: 750rpx;" :style="{ height: systemInfo.navBarH + 'px' }"
                    v-if="image"></image>
            </view>
            <view class="u-flex content"
                :style="{ height: systemInfo.titleBarHeight + 'px', top: systemInfo.statusBarHeight + 'px' }">
                <!-- #ifndef MP-BAIDU -->
                <block v-if="navbarType != 4 && isShowLeft">
                    <view class="u-flex left" hover-class="left--hover" hover-start-time="150" v-if="navbarType == 3">
                        <view class="u-flex u-home-arrow-left"
                            :style="{ borderColor: isWhite ? 'rgba(255,255,255,.5)' : '#dadbde' }">
                            <view @click="onBack">
                                <u-icon name="arrow-left" size="19" :color="leftColor"></u-icon>
                            </view>
                            <u-line direction="column" :hairline="false" length="16" margin="0 8px"
                                :color="isWhite ? 'rgba(255,255,255,.3)' : '#dadbde'"></u-line>
                            <view @click="onHome">
                                <u-icon name="home" size="20" :color="leftColor"></u-icon>
                            </view>
                        </view>
                    </view>
                    <view class="u-flex left" hover-class="left--hover" hover-start-time="150" @click="leftClick" v-else>
                        <slot name="left">
                            <!-- 左边箭头背景渐变 -->
                            <view class="iconBg u-flex"
                                :style="{ background: 'rgba(0,0,0,' + (navbarType == 5 ? (transparentValue2 > 0.4 ? 0.4 : transparentValue2) : 0) + ')' }">
                                <u-icon :name="iconLeft" :size="iconLeft == 'home' ? 20 : 16" :color="leftColor"></u-icon>
                            </view>
                            <text v-if="leftText" class="left__text" :style="{ color: leftColor }">{{ leftText }}</text>
                        </slot>
                    </view>
                </block>
                <!-- #endif -->
                <view class="center" :style="{ width: titleWidth + 'rpx' }">
                    <slot name="default">
                        <block v-if="navbarType == 5 && transparentTitleColor && isShowTransparentTitle">
                            <!-- 透明背景时实现上拉title颜色改变 -->
                            <view class="title u-line-1"
                                :style="[{ opacity: transparentValue2 }, { color: transparentTitleColor, width: titleWidth + 'rpx', fontSize: fontSize + 'rpx' }]"
                                v-if="transparentValue < proportion">{{ title }}</view>
                            <view class="title u-line-1"
                                :style="[{ opacity: transparentValue }, { color: fontColor, width: titleWidth + 'rpx', fontSize: fontSize + 'rpx' }]"
                                v-else>{{ title }}</view>
                        </block>
                        <view v-else class="title u-line-1"
                            :style="[isShowTransparentTitle ? {} : { opacity: navbarType == 5 ? transparentValue : '' }, { color: fontColor, width: titleWidth + 'rpx', fontSize: fontSize + 'rpx' }]">
                            {{ title }}
                        </view>
                    </slot>
                </view>
                <view class="u-flex right" @click="rightClick">
                    <slot name="right"></slot>
                </view>
            </view>
        </view>
        <!-- 防止塌陷高度 -->
        <view v-if="isFillHeight && navbarType != 5 && navbarType != 1" :style="{ height: systemInfo.navBarH + 'px' }">
        </view>
    </view>
</template>

<script setup lang="ts">
// 主页页面的页面路径
// 关联功能：打开的页面只有一个的时候右上角自动显示返回首页按钮，下面这个数组是排除显示返回首页的页面。
// 主页使用场景：小程序分享出去的页面，用户点击开是分享页面，很多情况下是没有返回首页按钮的
const mainPagePath = ['pages/index/index', 'pages/goods/goods', 'pages/my/myInfo'];
//返回首页的地址
const homePath = '/pages/index/index';
//白色表达值
const whiteList = ['#FFF', '#fff', '#FFFFFF', '#ffffff', 'white', 'rgb(255,255,255)', 'rgba(255,255,255,1)'];
const colorTheme = '#303133'; //字体、左边箭头颜色等默认颜色

import { ref, watch, computed, onMounted } from "vue"
import propsConfig from "./props"

const emit = defineEmits(["leftClick", "rightClick"]);

const props = defineProps(propsConfig.props);

// const ltColor = ref(props)
const systemInfo = ref({
    statusBarHeight: uni.getSystemInfoSync().statusBarHeight,
    // #ifdef MP-ALIPAY
    // navBarH: (uni.getSystemInfoSync()?.statusBarHeight??0) + (uni.getSystemInfoSync()?.titleBarHeight ?? 0),
    // titleBarHeight: uni.getSystemInfoSync().titleBarHeight,
    // #endif
    // #ifndef MP-ALIPAY
    navBarH: (uni.getSystemInfoSync()?.statusBarHeight ?? 0) + 44,
    titleBarHeight: 44,
    // #endif
});

// 当前页面是否是第一个页面
const firstPage = ref(false)
//透明度值
const transparentValue = ref(0)
// 左边icon
const iconLeft = ref('arrow-left')
// 上次显示的导航栏颜色
const lastFrontColor = ref('')
// 是否白色
const isWhite = ref(false)
//navbarType==5发生渐变的比值
const proportion = ref(0.5)
//首次获取的左边icon颜色
const oldLeftIconColor = ref<string>(colorTheme)




const leftColor = computed(() => {
    var color2 = colorTheme
    if (props.leftIconColor == color2) {//如果等于默认值
        // 背景不是白色或者背景是渐变色
        if (!whiteList.includes(props.bgColor) || props.gradient || props.navbarType == 5) {
            color2 = '#fff'
        }
    } else {
        color2 = props.leftIconColor
    }
    return color2
})

const navFontColor = computed(() => {
    var n = colorTheme
    if (transparentValue.value > proportion.value) {
        n = props.fontColor
    } else {
        n = props.transparentTitleColor || props.fontColor
    }
    return n
})

const transparentValue2 = computed(() => {
    var val = 1 - transparentValue.value
    return val
})


watch(
    () => leftColor.value,
    async (val) => {
        if (val != colorTheme && oldLeftIconColor.value == colorTheme) {
            oldLeftIconColor.value = val
        }
    },
    {
        immediate: true,
    },
);

watch(
    () => props.leftIcon,
    async (val) => {
        iconLeft.value = val
    },
    {
        immediate: true,
    },
);

watch(
    () => props.navbarType,
    async (val) => {
        if (val == 5) {
            if (props.scrollTop > 180) {
                transparentValue.value = 1;
            } else {
                transparentValue.value = props.scrollTop / 180;
            }
        }
    },
    {
        immediate: true,
    },
);


watch(
    () => props.scrollTop,
    async (val) => {
        if (val) {
            pageScroll({
                scrollTop: val
            })
        }

    },
    {
        immediate: true,
    },
);



const onBack = () => {
    if (firstPage.value) {
        uni.reLaunch({
            url: homePath
        })
    } else {
        uni.navigateBack()
    }
}
const onHome = () => {
    uni.switchTab({
        url: homePath
    })
}
const leftClick = () => {
    if (props.navbarType == 2) {
        emit('leftClick')
    } else {
        onBack()
    }
}
const rightClick = () => {
    emit('rightClick')
}


const pageScroll = (e: { scrollTop: any; }) => {
    if (props.navbarType == 5) {
        if (e.scrollTop && e.scrollTop > 0) {
            if (e.scrollTop > 180) {
                transparentValue.value = 1;
            } else {
                transparentValue.value = e.scrollTop / 180;
            }
        } else {
            transparentValue.value = 0;
        }

        if (whiteList.includes(props.bgColor)) {
            if (transparentValue.value > proportion.value) {
                // this.leftIconColor = this.$u.colorToRgba(this.$u.rgbToHex(this.oldLeftIconColor),this.transparentValue)
                props.leftIconColor = colorToRGB(oldLeftIconColor.value, transparentValue.value)
            } else {
                props.leftIconColor = `rgba(255,255,255,${1 - transparentValue.value})`
            }
        }
    }
    settingColor();
}


function colorToRGB(val: string, opa?: number): string {
    const pattern = /^(#?)[a-fA-F0-9]{6}$/; // 16进制颜色值校验规则
    const flag = typeof opa === 'number'; // 判断是否有设置不透明度

    if (!pattern.test(val)) { // 如果值不符合规则返回空字符
        return '';
    }

    let v = val.replace(/#/, ''); // 如果有#号先去除#号
    let rgbArr: number[] = [];
    let rgbStr = '';

    for (let i = 0; i < 3; i++) {
        let item = v.substring(i * 2, i * 2 + 2);
        let num = parseInt(item, 16);
        rgbArr.push(num);
    }

    rgbStr = rgbArr.join();
    rgbStr = `rgb${flag ? 'a' : ''}(${rgbStr}${flag ? ',' + opa : ''})`;

    return rgbStr;
}



//设置手机状态栏颜色
function settingColor() {
    let navColor = navFontColor.value;
    let frontColor = '#000000';
    if (whiteList.includes(navColor)) {
        frontColor = '#ffffff';
        isWhite.value = true
    }
    if (lastFrontColor.value == frontColor) {
        return;
    }
    setTimeout(() => {
        lastFrontColor.value = frontColor;
        // 改变手机状态栏颜色
        // #ifndef MP-ALIPAY
        uni.setNavigationBarColor({
            frontColor: frontColor,
            backgroundColor: '#FFFFFF'
        });
        // #endif
        // #ifdef MP-ALIPAY
        uni.setNavigationBarColor({
            backgroundColor: frontColor == '#000000' ? '#ffffff' : '#000000'
        });
        // #endif
    }, 150);

}







onMounted(() => {
    pageScroll({
        scrollTop: props.scrollTop, // 设置初始滚动位置
    })
});
</script>

<style scoped lang="scss">
@import "./index.scss";
</style>
