.mask {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fade 0.4s;
    z-index: 9999 !important;
}

.safe-area-bottom {
    padding-bottom: 0;
    padding-bottom: constant(safe-area-inset-bottom) !important;
    padding-bottom: env(safe-area-inset-bottom) !important;
}

.radius_8 {
    border-radius: 8rpx;
}
.radius_4 {
    border-radius: 4rpx;
}

.ellipsis_2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ellipsis_1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
