@font-face {
    font-family: "wenyue";
    src: url("https://static.heytea.com/taro_trial/v1/font/WenYue-XinQingNianTi-NC-W8_1.otf");
}

@font-face {
    font-family: "neutra";
    src: url("https://static.heytea.com/taro_trial/v1/font/NeutraTextDemiAlt.otf");
}


// .price {
// 	font-family: 'wenyue';
// }
.num{
    font-family: 'neutra';
}
.price {
	font-family: 'neutra';
}

page {
    font-family: cera-round-pro, "Helvetica Neue", "Helvetica", "Arial",
        sans-serif !important;
    color: #221e1f;
}
.modal-header {
    text-align: center;
    font-size: 28rpx;
    height: 80rpx;
}
.modal-btn {
    button {
        width: 48% !important;
    }
}
.empty {
    position: fixed;
    left: 50%;
    // top: 45%;
    transform: translate(-50%, 45%);
    width: 400rpx;
    // height: 400rpx;
    // margin:0 auto;
    .img {
        width: 400rpx;
        height: 400rpx;
    }
}
