<template>
    <view class="menu-container">

        <view class="store-header">
            <store-header :data="noticeShop" @getHeight="(e) => top = e"
                @bill="() => { shareBillPopup = true, popupType = 'coupon' }">
                <template v-slot:notice>
                    <notice-bar :list="noticeShop.notice" @open="() => { noticePopup = true, popupType = 'coupon' }">
                    </notice-bar>
                </template>
                <!-- <template v-slot:recommend>
                    <notice-bar :list="noticeShop.notice" @open="noticePopup = true"> </notice-bar>
                </template> -->
            </store-header>
        </view>
        <view class="store-menu">
            <store-menu :top="top" :menu-list="categories" @getList="getRecommendedMerchandiseList"></store-menu>
        </view>
        <view class="store-cart" v-if="popupType != 'coupon'">
            <cart-bar :open="cartPopup" @open="openCartPopup"></cart-bar>
        </view>



        <m-popup class="share-bill-popup" direction="top" :show-pop="shareBillPopup"
            @change="(val: boolean) => { shareBillPopup = val, popupType = '' }">
            <template slot="content">
                <view class="bill-content">
                    <!-- <view class="title">
                        <image class="img" :src="noticeShop.shop_activity_image" mode="aspectFit" />
                    </view> -->
                    <view class="empty">
                        <image src="https://keep-muke-1300507222.cos.ap-beijing.myqcloud.com/3.gif" class="img" />
                    </view>
                </view>
            </template>
        </m-popup>



        <m-popup class="notice-popup" direction="top" :show-pop="noticePopup"
            @change="(val: boolean) => { noticePopup = val, popupType = '' }">
            <template slot="content">
                <view class="notice-content">
                    <view class="title">
                        <image class="img" :src="noticeShop.shop_activity_image" mode="aspectFit" />
                    </view>
                    <view class="empty">
                        <image src="https://keep-muke-1300507222.cos.ap-beijing.myqcloud.com/2.gif" class="img" />
                    </view>
                </view>
            </template>
        </m-popup>



        <m-popup class="cart-popup" direction="top" :show-pop="cartPopup"
            @change="(val: boolean) => { cartPopup = val, popupType = '' }">
            <template slot="content">
                <block v-if="popupType == 'cart'">
                    <view class="top">
                        <text @click="handleEmptyCart">清空</text>
                    </view>
                    <scroll-view class="cart-list" scroll-y>
                        <view class="wrapper">
                            <view class="product" v-for="(product, key) in cartList" :key="key">
                                <view class="product-img radius_8">
                                    <image :src="product.thumbnailUrl" mode="widthFix" class="image radius_8"></image>
                                </view>
                                <view class="content">
                                    <view class="name ellipsis_2">{{ product.name }}</view>
                                    <view class="description ellipsis_2">{{ product.description }}</view>
                                    <view class="price">
                                        <m-price :price="`${product.fixedMoney}`"></m-price>
                                    </view>
                                </view>
                            </view>
                        </view>
                        <view class="wrapper-btx"></view>
                    </scroll-view>
                </block>
                <block v-if="popupType == 'coupon'">
                    <scroll-view class="coupon-list" scroll-y>
                        <view class="wrapper">

                            <view class="empty">
                                <image src="https://keep-muke-1300507222.cos.ap-beijing.myqcloud.com/1.gif" class="img">
                                </image>
                            </view>
                        </view>
                        <view class="wrapper-btx"></view>
                    </scroll-view>
                </block>
            </template>
        </m-popup>


    </view>
</template>

<script setup lang="ts">
import { ref, onMounted, watch,computed} from "vue"
import { getMenu } from "@/api/menu"
import { showConfirmModal } from "@/common/uni.fn"
import { useCartStore } from "@/store/cart";

import { useAppStore } from "@/store/app";
// import { useAppSetting } from "@/hooks/setting"
// const { pickTack, userInfo } = useAppSetting()
// import { useCart } from "@/hooks/cart"
// const { cartList } = useCart()

const pickTack = computed(() => useAppStore().pickTack)
const userInfo = computed(() => useAppStore().userInfo)
const cartList = computed(() => useCartStore().cartList)

import { getNoticeShop } from "@/api/notice"

import StoreHeader from "./componnets/header.vue"
import StoreMenu from "./componnets/menu.vue"
import NoticeBar from "@/components/Notice/index.vue"
import CartBar from "./componnets/cart-bar.vue"
import MPopup from "@/components/Popup/index.vue"


const top = ref<number>(0)

const shareBillPopup = ref<boolean>(false)

const noticeShop = ref<any>({})
const noticePopup = ref<boolean>(false)



const cartPopup = ref<boolean>(false)
const popupType = ref<string>("")

const categories = ref<any[]>([])
const recommendedMerchandiseList = ref<any[]>([])
const userCouponList = ref<any[]>([])


watch(() => shareBillPopup.value, (newVal) => {
    if (newVal) {
        uni.hideTabBar({ animation: true })
    } else {
        uni.showTabBar({ animation: true })
    }
}, {
    immediate: true

})

watch(() => noticePopup.value, (newVal) => {
    if (newVal) {
        uni.hideTabBar({ animation: true })
    } else {
        uni.showTabBar({ animation: true })
    }
}, {
    immediate: true

})
watch(() => popupType.value, (newVal) => {

    if (newVal == 'coupon') {
        uni.hideTabBar({ animation: true })
    } else {
        uni.showTabBar({ animation: true })
    }
}, {
    immediate: true

})


onMounted(() => {
    getNoticeShopFn()
})



async function getNoticeShopFn() {
    let data = await getNoticeShop()
    noticeShop.value = data

}
const getRecommendedMerchandiseList = (list: any[]) => {
    recommendedMerchandiseList.value = list
}

const openCartPopup = (val: boolean, type: string) => {
    cartPopup.value = val
    popupType.value = type
}

const handleEmptyCart = () => {
    showConfirmModal('', '确定清空购物车吗', '确定', '考虑一下', function () {
        useCartStore().setCartList([])
        cartPopup.value = false
    }, function () {
        cartPopup.value = false
    })

}
async function getMenuFn() {
    let { data } = await getMenu({ params: { phone: userInfo.value.phone, deliveryType: pickTack.value }, custom: { isFactory: false, load: true, toast: false } })
    const { tabInfoList, recommendedMerchandiseList, userCouponList } = data
    if (tabInfoList.length > 0) {
        tabInfoList.forEach((ele: any) => {
            ele.soldFlag = false
            if (ele.onSaleList && ele.onSaleList.length > 0) {
                ele.onSaleList.forEach((item: any) => {
                    item.fixedMoney = item.fixedMoney.toString()
                })
            }
            if (ele.soldOutList && ele.soldOutList.length > 0) {
                ele.soldOutList.forEach((item: any) => {
                    item.fixedMoney = item.fixedMoney.toString()
                })
            }
        })
    }
    categories.value = tabInfoList
    userCouponList.value = userCouponList
    recommendedMerchandiseList.value = recommendedMerchandiseList
}

onMounted(async () => {
    await getMenuFn()
    await getNoticeShopFn()



})
</script>

<style lang="scss">
.cart-popup {
    .top {
        background-color: #cbc0c050;
        height: 40rpx;
        line-height: 40rpx;
        padding: 10rpx 30rpx;
        font-size: 24rpx;
        text-align: right;
    }

    .coupon-list {
        background-color: #FFFFFF;
        width: 100%;
        overflow: hidden;
        min-height: 76vh;
        max-height: 76vh;
    }

    .cart-list {
        background-color: #FFFFFF;
        width: 100%;
        overflow: hidden;
        min-height: 1vh;
        max-height: 50vh;

        .wrapper-btx {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 120rpx;
            background: #ffffff;
            z-index: 999;
        }

        .wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 0 30rpx;
            margin-bottom: 120rpx;

            .product {
                display: flex;
                align-items: center;
                margin: 30rpx 0 20rpx 0;
                overflow: hidden;

                .product-img {
                    position: relative;
                    width: 140rpx;
                    height: 140rpx;
                    margin-right: 20rpx;

                    .image {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 140rpx;
                        height: 140rpx;
                        flex-shrink: 0;

                    }

                    text {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        background: #00000039;
                        display: inline-block;
                        width: 100%;
                        height: 50rpx;
                        font-size: 24rpx;
                        line-height: 50rpx;
                        color: #fff;
                        font-weight: 600;
                        text-align: center;
                    }
                }


                .content {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;

                    .name {
                        font-size: $uni-font-size-base;
                        font-weight: 600;
                        margin-bottom: 8rpx;
                    }

                    .labels {
                        display: flex;
                        font-size: 20rpx;
                        margin-bottom: 8rpx;
                        overflow: hidden;
                        flex-wrap: wrap;

                        .label {
                            max-width: 40%;
                            padding: 6rpx 10rpx;
                            margin-right: 10rpx;

                        }
                    }

                    .description {
                        margin-bottom: 10rpx;
                        color: #999999;
                        font-size: $uni-font-size-sm;
                    }

                    .price {
                        // font-size: $font-size-extra-lg;
                        // color: $font-size-base;
                        font-weight: bold;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}

.share-bill-popup {
    .bill-content {
        padding: 20rpx;
        overflow: hidden;
        min-height: 45vh;
        max-height: 45vh;

        .title {
            width: 150rpx;
            height: 50rpx;

            .img {
                width: 150rpx;
                height: 50rpx;
            }
        }
    }
}

.notice-popup {

    .notice-content {
        padding: 20rpx;
        overflow: hidden;
        min-height: 55vh;
        max-height: 55vh;

        .title {
            width: 150rpx;
            height: 50rpx;

            .img {
                width: 150rpx;
                height: 50rpx;
            }
        }
    }
}
</style>
