<template>
    <view class="mask mask-show u_loading" v-if="pageLoading" @touchmove.stop.prevent="preventTouchMove">
        <image class="loading-img"
            src="https://go.cdn.heytea.com/storage/product/2024/01/07/12edf32f96eb4d8c8ee36d824d87df10.gif" />

    </view>
</template>

<script setup lang="ts">

import { computed } from 'vue'
import { useAppStore } from "@/store/app";
const appStore = useAppStore();

const pageLoading = computed(() => appStore.pageLoading);


import propsConfig from "./props"
const props =defineProps(propsConfig.props)

const preventTouchMove = () => {
    return
}
</script>

<style lang="scss" scoped>
@import "./index.scss";
</style>
