.u_loading {
    &.mask {
        /* pointer-events: none; */
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
        /* #ifndef APP-NVUE */
        display: flex;
        /* #endif */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &.mask-show {
        background: #fff
    }

    .loading-img {
        width: 360rpx;
        height: 360rpx
    }

}