<template>
	<view>
		<!-- 加载动画组件 -->
		<loading></loading>
		<!-- 登录弹窗组件 -->
		<login></login>
		<!-- 微信登录弹窗组件 -->
		<!-- <f-wxLogin></f-wxLogin> -->
	</view>
</template>

<script setup lang="ts">
	import Loading  from "@/components/Loading/index.vue"
	import Login  from "@/components/Login/index.vue"

</script>
<style>

</style>
