<template>
    <view>
        <u-popup :show="loginPopupShow" mode="bottom" :round="10" @close="closeLogin" zIndex="999998">
            <view class="login-container">
                <view class="loginLoading" v-if="isLoading">
                    <u-loadmore status="loading" loadingText="正在登录..."></u-loadmore>
                </view>
                <view class="logo">
                    <image class="img" src="/static/logo.png"></image>
                </view>
                <view class="title">欢迎登录~</view>
                <view class="text">会员用户登录后消费可享受折扣，享受更好的服务体验</view>
                <view class="loginButton" v-if="!isPhoneLogin">
                    <!-- #ifdef MP-WEIXIN -->
                    <u-button :color="PrimaryColor" :customStyle="customStyle" @click="onAuthorization">微信授权登录</u-button>
                    <!-- 此功能需微信认证 -->
                    <u-button :color="PrimaryColor" open-type="getPhoneNumber" @getphonenumber="decryptPhoneNumber"
                        :customStyle="customStyle" @click="onAuthorization">微信手机号登录</u-button>

                    <!-- #endif -->
                    <!-- #ifdef MP-ALIPAY -->
                    <button class="button" open-type="getAuthorize" scope="userInfo" @getAuthorize="onAuthorization"
                        :style="{ background: PrimaryColor }">支付宝授权登录</button>

                    <!-- <button class="button marginT" open-type="getAuthorize" scope="phoneNumber"
                        @getAuthorize="decryptPhoneNumber" @error="onAuthError"
                        :style="{ background: PrimaryColor }">支付宝手机号登录</button> -->
                    <!-- 此功能需申请 -->
                    <u-button open-type="getAuthorize" @getAuthorize="decryptPhoneNumber" @error="onAuthError"
                        scope="phoneNumber" :color="PrimaryColor" :customStyle="customStyle">支付宝手机号登录</u-button>
                    <!-- #endif -->
                    <u-button type="info"
                        :customStyle="{ border: '2rpx solid ' + PrimaryColor, color: PrimaryColor, 'border-radius': 0 }"
                        @click="closeLogin">暂不登录</u-button>
                </view>
                <!-- 验证码登录 -->
                <view class="loginPhone" v-if="isPhoneLogin">
                    <view class="form-row">
                        <input class="input" type="number" v-model="phone" placeholder="请输入手机号码"
                            placeholder-style="font-weight:normal;color:#bbbbbb" />
                    </view>
                    <view class="form-row" style="margin-bottom: 30rpx;">
                        <input class="input" type="number" v-model="vCode" placeholder="请输入验证码"
                            placeholder-style="font-weight:normal;color:#bbbbbb;" />
                        <view class="getvcode" :class="{ forhidden: readonly }" @click="getVcode">{{ codeText }}</view>
                    </view>
                    <!-- <button class="submit" size="default" @click="onSubmit"
                        :style="{ background: PrimaryColor }">确定</button> -->
                    <u-button :color="PrimaryColor" :customStyle="customStyle" @click="onSubmit">确定</u-button>
                </view>
                <!-- #ifdef MP -->
                <!-- 快速登录和手机号登录切换 -->
                <view class="tips">
                    <view @click="isPhoneLogin = !isPhoneLogin" class="goBuy" :style="{ color: PrimaryColor }">
                        {{ isPhoneLogin ? '快速登录' : '手机号登录' }}</view>
                </view>
                <!-- #endif -->
            </view>
        </u-popup>

    </view>
</template>
<script setup lang="ts">
import { ref, watch, onMounted, reactive, computed } from "vue";
import { useAppStore } from "@/store/app";
import { getCurrentRouter } from '@/config/login';
const appStore = useAppStore();

// #ifdef MP
import { getPhoneInfo, getUserInfo } from './index';
// #endif

// const { loginPopupShow, currentRoute, PrimaryColor } = useAppSetting()
const PrimaryColor = computed(() => appStore.PrimaryColor);
const loginPopupShow = computed(() => appStore.loginPopupShow);
const currentRoute = computed(() => appStore.currentRouter);

const customStyle = reactive({
    'border-radius': '0',
    'margin-bottom': '10rpx',
})

const isPhoneLogin = ref(false)
const isLoading = ref(false)
const codeText = ref('获取验证码')
const vCode = ref('')
const readonly = ref(false)
const phone = ref('')
const code = ref('')
// const PrimaryColo = ref(PrimaryColor)
const currentRouter = ref<string>('')

let clear: NodeJS.Timeout;

watch(
    () => loginPopupShow.value,
    async (val) => {
        // 静默登录
        if (currentRoute.value == currentRouter.value && val) {
            getLoginByUnion()
        }
    },
    {
        immediate: true,
    },
);


onMounted(() => {
    currentRouter.value = getCurrentRouter() as string
})


//个人信息授权登录
const onAuthorization = (e: any) => {
    // #ifdef MP-WEIXIN
    closeLogin();
    useAppStore().setShowWxLogin(true) //打开微信新授权组件
    // #endif
    // #ifdef MP-ALIPAY
    getUserInfo((info: { nickName: any; avatarUrl: any; gender: any; }) => {
        console.log(info, '授权信息')
        let httpData = {
            code: code.value,
            nickName: info.nickName || '', //昵称
            avatarUrl: info.avatarUrl || '', //头像
            gender: info.gender || '', //性别 0:未知 1:男 2:女
        }
        // uni.$u.http.post('您的接口', httpData).then(res => {
        let userInfo = {
            // ...res,
            token: true,//token用于判断是否登录
        }
        // this.setUserInfo(userInfo)
        // setTimeout(()=>{
        //     uni.showToast({
        //     	title: '登录成功',
        //     	icon: 'none'
        //     });
        //     this.closeLogin();
        // },100)
        // })
    }, (err: any) => {
        // this.closeLogin();
    })
    // #endif
}

//授权手机号登录
const decryptPhoneNumber = (e: {
    detail: {
        code: string; errMsg: string; iv: string;
    };
}) => {
    console.log(e, '授权手机号')

    // #ifdef MP-WEIXIN
    if (e.detail.errMsg == 'getPhoneNumber:ok') {
        if (e.detail.iv) {
            var userInfo = e.detail;
            userInfo.code = code.value
            closeLogin();
            //请去getPhoneInfo方法中使用您的接口绑定信息
            getPhoneInfo(userInfo, () => {
                let userInfo = {
                    // ...res,
                    token: true,//token用于判断是否登录
                }
                useAppStore().setUserInfo(userInfo)
                setTimeout(() => {
                    uni.showToast({
                        title: '登录成功',
                        icon: 'none'
                    });
                    closeLogin();
                }, 100)
            });
        } else {
            // 授权失败请使用验证码登录
            isPhoneLogin.value = true
            uni.showToast({
                title: '请使用手机号登录',
                icon: 'none'
            });
        }
    } else {
        closeLogin()
    }
    // #endif

    // #ifdef MP-ALIPAY
    uni.getPhoneNumber({
        success: (res: { response: any; }) => {
            //请去getPhoneInfo方法中使用您的接口绑定信息
            getPhoneInfo(res.response, (res: any) => {
                let userInfo = {
                    // ...res,
                    token: true,//token用于判断是否登录
                }
                useAppStore().setUserInfo(userInfo)
                setTimeout(() => {
                    uni.showToast({
                        title: '登录成功',
                        icon: 'none'
                    });
                    closeLogin();
                }, 100)
            }, (err: any) => {
                // 授权失败请使用验证码登录
                isPhoneLogin.value = true
                uni.showToast({
                    title: '授权登录失败,请使用手机号登录',
                    icon: 'none'
                });
            });
        },
        fail: (res: any) => {
            // 授权失败请使用验证码登录
            isPhoneLogin.value = true
            uni.showToast({
                title: '授权登录失败,请使用手机号登录',
                icon: 'none'
            });
        }
    })
    // #endif
}
// 支付宝拒绝
const onAuthError = (e: any) => {
    uni.showToast({
        title: '您已拒绝授权~',
        icon: 'none'
    });
}

// 自动静默登录----获取code
// 静默登录：就是已经登录过的用户，被迫下线。调用此接口快速登录
const getLoginByUnion = () => {
    console.log("自动静默登录--自定义接口--")

    uni.login({
        success(res) {
            console.log(res, "获取code")
            code.value = res.code as string
            let httpData = {
                code: res.code,
            }
            // uni.$u.http.post('您的接口', httpData).then(res => {
            setTimeout(() => {
                // 自动静默登录失败--打开手动登录
                isLoading.value = false
            }, 500)
            // }).catch(()=>{
            //     // 自动静默登录失败--打开手动登录
            //     that.isLoading = false
            // })
        }
    })
}
function closeLogin() {
    console.log('closeLogin')
    useAppStore().setLoginPopupShow(false)
    // #ifdef APP-PLUS || H5
    isLoading.value = false
    isPhoneLogin.value = true//是否显示验证码登录
    // #endif
    // #ifndef APP-PLUS || H5
    isLoading.value = true
    isPhoneLogin.value = false//是否显示验证码登录
    // #endif
}
//验证码按钮文字状态
const getCodeState = () => {

    readonly.value = true;
    codeText.value = '60S后重新获取';
    var s = 60;
    clear = setInterval(() => {
        s--;
        codeText.value = s + 'S后重新获取';
        if (s <= 0) {
            clearInterval(clear);
            codeText.value = '获取验证码';
            readonly.value = false;
        }
    }, 1000);
}
//获取验证码
const getVcode = () => {

    if (readonly.value) {
        uni.showToast({
            title: '验证码已发送~',
            icon: 'none'
        });
        return;
    }
    if (phone.value == '') {
        uni.showToast({
            title: '请输入手机号~',
            icon: 'none'
        });
        return;
    }
    const phoneRegular = /^1\d{10}$/;
    if (!phoneRegular.test(phone.value)) {
        uni.showToast({
            title: '手机号格式不正确~',
            icon: 'none'
        });
        return;
    }
    let httpData = {}
    // 获取验证码接口
    // uni.$u.http.post('您的接口', httpData).then(res => {
    getCodeState(); //开始倒计时
    // })
}

// 手机号登录
const onSubmit = () => {
    if (phone.value == '') {
        uni.showToast({
            title: '请输入手机号~',
            icon: 'none'
        });
        return;
    }
    const phoneRegular = /^1\d{10}$/;
    if (!phoneRegular.test(phone.value)) {
        uni.showToast({
            title: '手机号格式不正确~',
            icon: 'none'
        });
        return;
    }
    if (vCode.value == '') {
        uni.showToast({
            title: '请输入验证码~',
            icon: 'none'
        });
        return;
    }
    let httpData = {};
    // uni.$u.http.post('您的接口',httpData).then(res => {
    uni.showToast({
        title: '登录成功~',
        icon: 'none'
    });
    // });
}
</script>

<style lang="scss" scoped>
@import "./index.scss";
</style>
