<template>
    <!-- 通告栏 -->
    <view class="notice-bar">
        <swiper class="list" circular="true" vertical="true" autoplay="true" interval="3000" duration="1000">
            <swiper-item v-for="item in list" :key="item.id" @click="openNotice" class="notice-item" @touchmove.stop="true">
                <image :src="item.image.url" v-if="item.image.url"
                    :style="{ 'width': (item.image.width - 20) / 2 + 'px', 'height': (item.image.height - 10) / 2 + 'px' }">
                </image>
                <text :style="{ 'color': PrimaryColor }" class="ellipsis_1">{{ item.content }}</text>
            </swiper-item>
        </swiper>
        <u-icon name="arrow-down" size="12" color="#999" style="margin-right: 15rpx;" />
    </view>
</template>

<script setup lang="ts">
import { ref, watch,computed } from 'vue';
import { useAppStore } from "@/store/app";
const appStore = useAppStore();
const PrimaryColor = computed(() => appStore.PrimaryColor);
import propsConfig from "./props"
const props = defineProps(propsConfig.props)

const emit = defineEmits(["open"])

const list = ref<any>(props.list)
watch(() => props.list, (newVal) => {
    list.value = newVal
}, { immediate: true }
)


const openNotice = () => {
    emit('open')
}
</script>

<style lang='scss' scoped>
// 公告栏样式
.notice-bar {
    height: 50rpx;
    background:rgba(238, 236, 237, 0.381);
    font-size: 24rpx;
    display: flex;
    align-items: center;
    padding:0 10rpx;
    .list {
        width: 100%;
        height: 100%;

        .notice-item {
            display: flex;
            align-items: center;
        }
    }
}
</style>
