<script setup lang="ts">
import { onLaunch, onShow, onHide } from "@dcloudio/uni-app";
onLaunch(() => {
  console.log("App Launch");
});
onShow(() => {
  console.log("App Show");
});
onHide(() => {
  console.log("App Hide");
});
</script>
<style lang="scss">
/* #ifndef APP-NVUE */
@import "@/uni_modules/uview-plus/index.scss";
// @import './style/iconfont.scss';
// @import "./style/common.scss";
@import "@/uni_modules/uview-plus/libs/css/flex.scss";
page {
    background-color: #f5f5f5;
}
// 隐藏滚动条
::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
}
/* #endif */
</style>
