<template>
    <view>
        <navbar title="上拉渐变显示navbar背景" fontColor="#fff" bgColor="#fe461d" :scrollTop="scrollTop" navbarType='1'></navbar>
        <!-- <scroll-view scroll-y @scroll="onPageScroll" style="height:100vh"> -->
        <view class="main">
            <view class="tabTop">
                <scroll-view scroll-x="true" :scroll-left="scrollLeft" :scroll-with-animation="true">
                    <view class="box" :style="{ 'width': totalWidth + 'px' }">
                        <view class="banner-url">
                            <image :src="product_series_banner_url" class="img" />
                        </view>
                        <view class="tabTopItem" v-for="(item, index) in product_series_list" :key="index"
                            :class="{ 'ac': tabTopCurrent == index }" @click="tabTopChange(index, item.id)">

                            <image :src="item.url" class="tips" mode="aspectFill"></image>
                            <view class="mask-img" v-if="index != tabTopCurrent"></view>
                        </view>
                    </view>
                </scroll-view>
            </view>

            <product-swiper :list="product_series" indicatorPos="right" keyName="url" height="450" :current="swiperCurrent"
                :circular="false" @change="changeSwiper"></product-swiper>
            <!--  <view class="product-content">
                    <view class="name">{{ productInfo.name }}</view>
                    <view class="labels">
                        <text class="label" v-for="(item, index) in productInfo.labels" :key="index"
                            :style="{ color: item.label_color, border: `1rpx solid ${item.label_color}` }">
                            {{ item.name }}
                        </text>
                    </view>
                    <view class="description" v-text="productInfo.major_description" style="white-space:pre-wrap"></view>


                    <view class="descriptions">
                        <view v-for="(item, index) in productInfo.product_descriptions" :key="index">
                            <view class="title">{{ item.title }}</view>
                            <text class="content">{{ item.content }}</text>
                        </view>
                    </view>
                </view> -->
        </view>
        <!-- </scroll-view> -->
    </view>
</template>

<script setup lang="ts">
import { ref, nextTick } from "vue"
import { onShow, onLoad } from "@dcloudio/uni-app";
import { getProductInfo } from "@/api/product";
import ProductSwiper from "@/components/Swiper/product-swiper.vue";

interface SeriesItem {
    id: number,
    url: string
}


const scrollLeft = ref(0)
const itemWidth = ref(0)
const totalWidth = ref(0)
const scrollTop = ref(0)
const tabTopCurrent = ref(0)


const product_series = ref([])
const product_series_banner_url = ref('')
const product_serise_banners = ref([])
const product_series_list = ref<SeriesItem[]>([])

const swiperCurrent = ref(0)
const onPageScroll = (event: any): void => {
    // 处理滚动事件
    scrollTop.value = event.target.scrollTop;
};


const tabTopChange = (index: number, id: number) => {
    tabTopCurrent.value = index
    scrollLeft.value = itemWidth.value * (index - 1);
    getProductSwiper(index, product_serise_banners.value)
}


async function getgetProductInfoFn(productIds: string) {

    let { data } = await getProductInfo({ params: {}, custom: { isFactory: false, load: true } })
    console.log(data.products, "dtaa")
    const { product_series } = data.products[0]
    product_series_banner_url.value = product_series.banner_url
    product_series_list.value = product_series.product_series_list.map((ele: { product_id: any; images: { url: any; }[]; }) => ({
        id: ele.product_id,
        url: ele.images[0].url
    }))
    nextTick(() => {
        let dom = uni.createSelectorQuery().select(".tabTopItem");
        dom.boundingClientRect((data: any) => {
            let num = product_series_list.value.length;
            itemWidth.value = data.width + 8;
            totalWidth.value = num * itemWidth.value;
        }).exec()
    })

    product_serise_banners.value = product_series.product_series_list

    getProductSwiper(tabTopCurrent.value, product_series.product_series_list)
}
const getProductSwiper = (index: number, list: { images: any; }[]) => {
    product_series.value = list[index]?.images
    swiperCurrent.value = 0
    console.log(123)

}
const changeSwiper = (index: number) => {
    swiperCurrent.value = index
}
onShow(() => {
    getgetProductInfoFn('3142')
})
onLoad(() => {

})
</script>

<style scoped lang="scss">
.tabTop {
    // width: 702rpx;
    display: flex;
    background: #333333;
    height: 140rpx;
    margin: auto;
    padding: 20rpx 0 20rpx 0;

    /* 隐藏滚动条样式 */
    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .box {
        display: flex;
        align-items: center;

        .banner-url {
            width: 3550rpx;
            height: 140rpx;
            margin-right: 20rpx;
            .img {
                width: 350rpx;
                height: 140rpx;
            }
        }

        .tabTopItem {
            position: relative;
            display: flex;
            text-align: center;
            width: 140rpx;
            height: 140rpx;
            margin-right: 8px;
            position: relative;
            box-sizing: border-box;


            .tips {
                position: relative;
                // position: absolute;
                // right: 0;
                // top: 0;
                width: 140rpx;
                height: 140rpx;
                background: #030303;

                &::after {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 140rpx;
                    height: 140rpx;
                    background: #030303;
                }
            }

            .mask-img {
                position: absolute;
                top: 0;
                left: 0;
                width: 140rpx;
                height: 140rpx;
                background: #000;
                opacity: .3;
            }
        }

        .ac {
            width: 140rpx;
            height: 140rpx;
            background: #000;
            // opacity: 1;
        }
    }
}
</style>
